<solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                [currentModel]="currentObs | async"
                                [formPresentational]="formPresentational"
                                [mode]="isEdit ? 'edit' : 'detail'"
                                [editAvailable]="editAvailable"
                                [deleteAvailable]="deleteAvailable"
                                [listExtraButtons]="listExtraButtons"
                                [historyAvailable]="true"
                                (showHistoryChange)="showHistory()"
                                (deleteChange)="delete()"
                                (editChange)="edit()"
                                (backToDetailChange)="backToDetail()"
                                class="button-toolbar-detail"
>
</solidify-button-toolbar-detail>

<div [solidifySpinner]="isLoadingWithDependencyObs | async"
     class="wrapper"
>
  <ng-template [ngIf]="projectIdObs | async">

    <hedera-ingest-source-dataset-form #formPresentational
                                       *ngIf="isReadyToBeDisplayedObs | async"
                                       (dirtyChange)="updateCanDeactivate($event)"
                                       (editChange)="edit()"
                                       (navigate)="navigate($event)"
                                       (submitChange)="update($event)"
                                       [projectId]="projectIdObs | async"
                                       [editAvailable]="editAvailable"
                                       [model]="currentObs | async"
                                       [readonly]="!isEdit"
    ></hedera-ingest-source-dataset-form>
  </ng-template>
</div>

<hedera-ingest-source-dataset-upload-container *ngIf="(canEditObs | async) !== editModeEnum.none"
                                               [editMode]="(canEditObs | async)"
></hedera-ingest-source-dataset-upload-container>

<hedera-ingest-source-dataset-file-container></hedera-ingest-source-dataset-file-container>
