@import "solidify-frontend/lib/application/components/routables/abstract-detail-edit-common/abstract-detail-edit-common.routable";
@import "abstracts/abstracts";

:host {
  .button-toolbar-detail {
    top: 118px;

    @include respond-to-smaller-than-breakpoint('md') {
      top: 150px;
    }
  }
}