@import "abstracts/abstracts";

.hide {
  display: none;
}

ul {
  padding: 0;

  li {
    .label {
      font-weight: bold;
      padding-right: 5px;

      &:after {
        content: ' :';
      }
    }
  }
}

::ng-deep {
  .mat-dialog-content {
    padding-bottom: 20px;
  }
}

.is-in-error {
  color: $red;
}

.error-message {
  color: $red;
  margin-top: 20px;
}

.file-title-header {
  overflow: hidden;
  justify-content: space-between;

  .file-name {
    @include truncate-with-ellipsis;
  }
}

form > mat-form-field {
  width: 100%;
}

mat-panel-title {
  align-items: center;
}

mat-panel-description {
  justify-content: flex-end;
}

.button-add-files-wrapper {

  text-align: center;
  padding-top: 20px;

  button {

    &:focus {
      background-color: $primary-color-lighter !important;
      color: white !important;
    }

  }

}

.footer {
  justify-content: flex-end;
  align-items: center;
}
