@use '@angular/material' as mat;
@import "../override/material-override";
@import "../override/dark-mode-override";
@import "../override/light-mode-override";
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$mat-hedera-primary: (
    50: #e5f3fc,
    100: #c1e0f8,
    200: #9ccdf4,
    300: #7abaef,
    400: #62aaeb,
    500: #519de8,
    600: #4b8fda,
    700: #427dc7,
    800: #3c6cb5,
    900: #294C95,
    1000 : #243e7c,
    A100 : #c1e0f8,
    A200 : #9ccdf4,
    A400 : #7abaef,
    A700 : #62aaeb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        950 : #ffffff,
        1000 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat.m2-define-palette($mat-hedera-primary, 900);
$accent: mat.m2-define-palette(mat.$m2-pink-palette, 300, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$hedera-theme: mat.m2-define-light-theme(
        $primary,
        $accent,
        $warn
);

$mat-hedera-primary-dark: (
    50: #edf3fb,
    100: #d3e0f5,
    200: #b5ccee,
    300: #97b7e7,
    400: #81a7e2,
    500: #6b98dd,
    600: #6390d9,
    700: #5885d4,
    800: #4e7bcf,
    900: #3c6ac7,
    A100 : #ffffff,
    A200 : #e1ebff,
    A400 : #aec7ff,
    A700 : #95b6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-hedera-accent-dark: (
    50 : #ffebf3,
    100 : #fecee0,
    200 : #feaecc,
    300 : #fe8db7,
    400 : #fd74a7,
    500 : #fd5c98,
    600 : #fd5490,
    700 : #fc4a85,
    800 : #fc417b,
    900 : #fc306a,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd8e2,
    A700 : #ffbecf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary-dark: mat.m2-define-palette($mat-hedera-primary, 500);
$accent-dark: mat.m2-define-palette($mat-hedera-accent-dark, 500);

$hedera-dark-theme: mat.m2-define-dark-theme(
        $primary-dark,
        $accent-dark,
        $warn
);

@include isInTheme($theme-name-hedera, true) {
  --primary-main-color: #{map-get($primary, 900)};
  --primary-color: #{map-get($primary, 900)};
  --primary-color-lighter: #{map-get($primary, 800)};
  --accent-color: #c61d64;
  --accent-main-color: #c61d64;
  --text-color-in-primary: #ffffff;

  @include mat.all-component-themes($hedera-theme);

  &:not([dark-mode='true']) {
    @include hedera-material-override;
    @include hedera-light-mode-override;
  }

  &[dark-mode='true'] {
    --primary-color: #{map-get($primary-dark, 500)};
    --primary-color-lighter: #{map-get($primary-dark, 400)};
    --accent-color: #{map-get($mat-hedera-accent-dark, 500)};
    --text-color-in-primary: #303030;
    @include mat.all-component-colors($hedera-dark-theme);
    @include hedera-material-override;
    @include hedera-dark-mode-override;
  }
}
