<solidify-empty-container [solidifyFocusFirstElement]="true"
                          cdkTrapFocus
>
  <solidify-button-toolbar-detail *ngIf="(data | isNotNullNorUndefined)"
                                  [currentModel]="data.current"
                                  [deleteAvailable]="canDelete"
                                  [editAvailable]="false"
                                  [listExtraSmallButtons]="smallButtons"
                                  [mode]="'detail'"
                                  [saveAvailable]="false"
                                  [historyAvailable]="(data.statusHistoryNamespace | isNotNullNorUndefined) && (data.statusHistoryState | isNotNullNorUndefined)"
                                  [backToListNavigate]="backNavigate"
                                  (deleteChange)="delete()"
                                  (showHistoryChange)="showHistory()"
                                  [listExtraButtons]="data.buttons"
  >
  </solidify-button-toolbar-detail>
  <div class="container">

    <ng-template [ngTemplateOutlet]="visualizationTemplate"></ng-template>
    <div class="informations">
      <ng-template [ngTemplateOutlet]="infoTemplate"></ng-template>

      <ng-content></ng-content>

      <solidify-panel-expandable *ngIf="data?.current?.checksums | isNotNullNorUndefinedNorEmptyArray"
                                 [isOpen]="true"
                                 [titleToTranslate]="labelTranslateEnum.checksums | translate"
      >
        <hedera-shared-checksum [checksums]="data.current.checksums"></hedera-shared-checksum>
      </solidify-panel-expandable>

      <hedera-shared-additional-information-panel-container [resource]="data.current"
      ></hedera-shared-additional-information-panel-container>
    </div>

  </div>
</solidify-empty-container>

<ng-template #visualizationTemplate>
  <div *ngIf="previewAvailable; else noPreviewAvailable;"
       [class.fullscreen]="isInFullscreenMode"
       class="visualization"
  >
    <div *ngIf="previewAvailable && !isInFullscreenMode && (fullScreenObs | async)"
         class="fullscreen-button-wrapper"
    >
      <button (click)="enterFullScreen()"
              [matTooltip]="labelTranslateEnum.fullscreen | translate"
              class="fullscreen-button"
              mat-icon-button
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.fullScreenEnter"></solidify-icon>
      </button>
    </div>
    <solidify-file-visualizer (errorMessageChange)="visualizationErrorMessage = $event"
                              (fullScreenAvailableChange)="changeFullScreen($event)"
                              [class.has-error-message]="visualizationErrorMessage"
                              [fileToVisualize]="getFileInput()"
                              [zoomEnable]="zoomEnable"
                              [fileDownloadUrl]="fileDownloadUrl()"
                              class="file-visualizer"
    ></solidify-file-visualizer>
    <div *ngIf="visualizationErrorMessage"
         class="warning-area"
    >
      <solidify-icon [iconName]="iconNameEnum.warning"
                     class="tab-header-icon size-50"
      ></solidify-icon>
      <div class="visualization-error-message">{{visualizationErrorMessage | translate}}</div>
    </div>
  </div>

  <ng-template #noPreviewAvailable>
    <div class="no-preview">
      <div class="visualization-no-preview">
        <solidify-icon [iconName]="iconNameEnum.noPreview"
                       class="icon"
        ></solidify-icon>
        <div class="visualization-error-message">{{visualizationErrorMessage | translate}}</div>
      </div>
    </div>
  </ng-template>
</ng-template>

<ng-template #infoTemplate>
  <solidify-panel-expandable [isOpen]="true"
                             [titleToTranslate]="'ingest.file.detail.delimiter.fileInfo' | translate"
  >
    <ng-container *ngFor="let property of dataProperties">
      <ul>
        <li>
          <span class="key">{{property.key | translate}}</span>
          <span class="value">
          <ng-template [ngIf]="property.type === dataFilePropertiesTypeEnum.status">
            <solidify-status [statusModel]="$any(property.value)"
                             [label]="undefined"
            ></solidify-status>
          </ng-template>
          <ng-template [ngIf]="property.type === dataFilePropertiesTypeEnum.size">{{$any(property.value) | filesize}}</ng-template>
          <ng-template [ngIf]="(property.type | isNullOrUndefined) || property.type === dataFilePropertiesTypeEnum.text">{{property.value}}</ng-template>
          </span>
          <button *ngIf="property?.callback | isNotNullNorUndefined"
                  (click)="property.callback(this.data.current)"
                  (onEnter)="property.callback(this.data.current)"
                  class="edit"
                  mat-icon-button
                  solidifyShortCuts
          >
            <solidify-icon [iconName]="property?.logo"></solidify-icon>
          </button>
        </li>
      </ul>

    </ng-container>
  </solidify-panel-expandable>
</ng-template>
