@import "abstracts/abstracts";

:host {

  .button-wrapper {
    @include respond-to-breakpoint('xs') {
      display: flex;
      flex-direction: column;
      > * {
        margin-bottom: 5px;
      }
    }
  }

  .container {
    position: relative;
    padding-top: 20px;
    display: grid;
    grid-template-columns: minmax(410px, 1fr) 2fr;
    grid-gap: 30px;

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content;
    }

    .visualization {
      max-height: 100%;
      height: 100%;
      position: relative;

      &.fullscreen {
        position: absolute;
        top: 0;
        background-color: $white;
        left: 0;
        right: 0;
        z-index: $z-index-preview;

      }

      .fullscreen-button-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .fullscreen-button {
          color: $primary-color;
        }
      }

      .file-visualizer {
        &.has-error-message {
          height: 0 ! important;
          display: none;
        }
      }

      .warning-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;

        .icon {
          padding: 10px;
        }
      }
    }

    .no-preview {
      justify-self: center;
      border: 1px solid $extra-light-grey;
      width: 400px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;

      .visualization-no-preview {
        text-align: center;
        padding: 0 10px;
        font-size: 18px;
        line-height: 32px;
      }

      .icon {
        color: $extra-light-grey;
        @include icon-important(300px);

        ::ng-deep .icon {
          @include icon-important(300px)
        }
      }
    }

    .informations ::ng-deep {
      padding-right: 30px;

      ul {
        li {
          display: grid;
          grid-template-columns: max-content 10px 1fr;
          grid-template-areas: "key . value";
          width: 100%;
          flex-wrap: wrap;
          position: relative;
          align-items: center;
          height: 38px;
          border-bottom: 1px solid $intermediate-grey;

          @include respond-to-breakpoint-and-bigger('sm') {
            justify-content: space-between;
          }

          .key {
            grid-area: key;
            flex-basis: 100%;
            color: $light-grey;

            @include respond-to-breakpoint-and-bigger('sm') {
              flex-basis: auto;
              color: initial;
            }
          }

          .value {
            grid-area: value;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            @include truncate-with-ellipsis;
          }

          .edit {
            position: absolute;
            right: -45px;
          }

          .value-list {
            word-break: break-all;
          }
        }
      }

    }

  }

}

@include isInDarkMode {
  .container {
    .visualization {
      &.fullscreen {
        background-color: $dark-mode-background;
      }
    }

    .informations ::ng-deep {
      ul {
        li {
          border-bottom-color: $dark-mode-line;

          .key {
            color: $dark-mode-text-disabled;
          }
        }
      }
    }

    .no-preview {
      border-color: $dark-mode-line;
    }
  }
}
