<solidify-empty-container (onEscape)="backToList()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
></solidify-empty-container>
<solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                [formPresentational]="formPresentational"
                                [mode]="'create'"
>
</solidify-button-toolbar-detail>

<div [solidifySpinner]="isLoadingWithDependencyObs | async"
     class="wrapper"
>
  <hedera-admin-iiif-collection-settings-form #formPresentational
                                              (checkAvailableChange)="checkAvailable($event)"
                                              (dirtyChange)="updateCanDeactivate($event)"
                                              (submitChange)="create($event)"
                                              *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                                              (navigate)="navigate($event)"
  ></hedera-admin-iiif-collection-settings-form>
</div>
