@import "abstracts/abstracts";

:host {
  display: block;
  padding: 20px;

  .context {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    align-items: baseline;
    grid-gap: 20px;

    .project-selector {
      width: 500px;
    }
  }

  .query-section {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 20px;

    .buttons {
      display: grid;
      grid-template-rows: max-content;
      grid-gap: 20px;
      justify-content: center;
      padding-top: 25px;
    }
  }

  .validation {
    color: $error;
    padding-bottom: 30px;

    &.is-valid {
      color: $success;
    }

    .message {
      display: grid;
      align-items: center;
      grid-template-columns: max-content 1fr;
      grid-gap: 10px;
    }

    .syntax-error {
      padding-left: 34px;
      padding-top: 10px;
    }
  }

  .result {
    .pre {
      font-size: 13px;
      line-height: 1.42857143;
      word-break: break-all;
      word-wrap: break-word;
      background-color: $white;
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow-x: auto;
    }

    .code {
      font-family: monospace;
      white-space: pre-wrap;
      padding-top: 0;
    }
  }

  .no-project {
    text-align: center;
  }
}

@include isInDarkMode {
  .result {
    .pre {
      background-color: #0d1117;
      border-color: #0d1117;
    }
  }
}