<h1>{{labelTranslateEnum.sparqlQuery | translate}}</h1>
<!--"{{getFormControl(formDefinition.projectId)?.value | json}}"-->
<div *ngIf="getFormControl(formDefinition.projectId)?.value | isNotNullNorUndefinedNorWhiteString"
     class="context"
>
  <solidify-searchable-single-select *ngIf="getFormControl(formDefinition.projectId) as fd"
                                     [canDeleteValue]="false"
                                     [formControl]="fd"
                                     [labelKey]="'name'"
                                     [placeholder]="labelTranslateEnum.project | translate"
                                     [resourceNameSpace]="sharedProjectNameSpace"
                                     [sort]="sharedProjectSort"
                                     [state]="sharedProjectState"
                                     [storeLastSelectionKey]="lastSelectionProjectLocalStorageKey"
                                     [valueKey]="'resId'"
                                     (valueChange)="projectChange($event)"
                                     class="project-selector"
                                     solidifyValidation
  >
  </solidify-searchable-single-select>

  <mat-form-field *ngIf="getFormControl(formDefinition.format) as fd"
                  [appearance]="appearanceInputMaterial"
                  [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                  solidifyTooltipOnEllipsis
  >
    <mat-label>{{labelTranslateEnum.format | translate}}</mat-label>
    <mat-select [formControl]="fd"
                [required]="formValidationHelper.hasRequiredField(fd)"
                [solidifyValidation]="errors"
    >
      <mat-option *ngFor="let format of rmlFormatEnum"
                  [value]="format.key"
                  [disabled]="FORMAT_DISABLED.includes($any(format.key))"
                  solidifyTooltipOnEllipsis
      >
        {{format.value | translate}}
      </mat-option>
    </mat-select>
    <mat-error #errors
               solidifyTooltipOnEllipsis
    ></mat-error>
  </mat-form-field>

  <button (click)="openSparqlHelp()"
          [matTooltip]="labelTranslateEnum.helpForSearch | translate"
          class="privacy"
          mat-icon-button
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.help"
                   class="size-20"
    ></solidify-icon>
  </button>
</div>

<hedera-yasgui *ngIf="endpoint | isNotNullNorUndefinedNorWhiteString"
               [endpoint]="endpoint"
               [format]="getFormControl(formDefinition.format)?.value"
               [initialQuery]="INITIAL_QUERY"
></hedera-yasgui>

<div *ngIf="isNoProject | isTrue"
     class="no-project"
>
  {{labelTranslateEnum.thereAreNoProjectsAtTheMoment | translate}}
</div>