@import "solidify-frontend/lib/core/components/routables/abstract-home/abstract-home.routable";

:host {
  .title {
    @include app-padding;
  }

  .tabs {
    ::ng-deep {
      .tab-content {
        > * {
          padding-top: 0 !important;
        }

        solidify-button-toolbar-list {
          padding-bottom: 0 !important;
        }
      }
    }
  }
}
