<h1 class="title">{{labelTranslateEnum.browse | translate}}</h1>

<solidify-tabs-container [isLoading]="isLoadingObs | async"
                         [tabs]="browseTabs"
                         (tabChange)="setCurrentTab($event)"
                         class="tabs"
>
  <router-outlet></router-outlet>
</solidify-tabs-container>
