<div class="button-toolbar">
  <button (click)="back()"
          (onEnter)="back()"
          color="primary"
          mat-button
          solidifyShortCuts
  >
    <solidify-icon [iconName]="iconNameEnum.back"></solidify-icon>
    {{labelTranslateEnum.back | translate}}
  </button>
</div>

<solidify-data-table [columns]="columns"
                     [actions]="actions"
                     [data]="$any(listObs | async)"
                     [isLoading]="isLoadingObs | async"
                     [displaySpinnerWhenLoading]="true"
                     [isMultiSelectable]="false"
                     [skipInitialQuery]="true"
                     [stickyTopPosition]="stickyTopPosition"
                     [displayActionCopyIdToClipboard]="false"
                     [displayActionShowHistory]="false"
                     (selectChange)="showDetail($event)"
                     (queryParametersChange)="onQueryParametersEvent($event)"
></solidify-data-table>
