<div *ngIf="data | isNotNullNorUndefined"
     @overlay
     class="overlay"
>
  <div class="avatar-wrapper">
    <solidify-logo-wrapper-container [idResource]="data?.resId"
                                     [logoNamespace]="logoActionNameSpace"
                                     [logoState]="logoState"
                                     [isUser]="false"
                                     [isLogoPresent]="isLogoPresent"
                                     [imageMode]="imageDisplayModeEnum.IN_OVERLAY"
                                     class="avatar"
    ></solidify-logo-wrapper-container>
  </div>

  <div class="informations">
    <div class="name"
         solidifyTooltipOnEllipsis
    >{{data.name}}</div>
    <div *ngIf="data.url | isNotNullNorUndefinedNorWhiteString"
         class="url-wrapper"
         solidifyTooltipOnEllipsis
    >
      <a [href]="data.url"
         target="_blank"
         class="url"
      >{{data.url}}</a>
    </div>
  </div>
</div>
