<div (keydown.escape)="back()"
     [solidifyFocusFirstElement]="true"
     class="host"
     solidifyShortCuts
>
  <mat-form-field *ngIf="researchObjectTypeFormControl as fd"
                  [appearance]="appearanceInputMaterial"
                  [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                  solidifyTooltipOnEllipsis
  >
    <mat-label>{{labelTranslateEnum.researchObjectType | translate}}</mat-label>
    <mat-select [formControl]="fd"
    >
      <mat-option *ngFor="let researchObjectType of (listProjectResearchObjectTypeObs | async)"
                  [value]="researchObjectType.name"
                  solidifyTooltipOnEllipsis
      >
        {{researchObjectType.name | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <solidify-data-table #dataTablePresentational
                       [class.no-research-object-type]="researchObjectTypeFormControl.value | isNullOrUndefinedOrWhiteString"
                       (queryParametersChange)="onQueryParametersEvent($event)"
                       [actions]="actions"
                       [columnsSkippedToClear]="columnsSkippedToClear"
                       [columns]="columns"
                       [data]="listObs | async"
                       [isLoading]="isLoadingObs | async"
                       [displaySpinnerWhenLoading]="true"
                       [isMultiSelectable]="isMultiSelectable"
                       [listHighlightingId]="listNewId"
                       [isHighlightCondition]="isHighlightCondition"
                       [queryParameters]="queryParametersObs | async"
                       [skipInitialQuery]="true"
                       [stickyTopPosition]="stickyTopPosition"
                       [displayActionCopyIdToClipboard]="displayActionCopyIdToClipboard"
                       [displayActionShowHistory]="displayActionShowHistory"
                       (selectChange)="showDetail($event)"
                       (showHistoryChange)="showHistory($event)"
                       class="data-table"
  ></solidify-data-table>
</div>
