@import "solidify-frontend/lib/application/components/routables/abstract-list/abstract-list.routable";

:host {
  .research-object {
    display: block;
    width: 300px;
  }

  .data-table {
    &.no-research-object-type {
      opacity: 0.4;
    }
  }
}