@use "@angular/material" as mat;
@use "sass:math";
@import "normalize.css/normalize.css";

@import "solidify-frontend/lib/application/scss/main";

@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/typography";
@import "layout/dialogs";

@import "override/default-browser-override";
@import "themes/hedera-theme";

//@import "highlight.js/styles/github.css";
@import "@angular/cdk/overlay-prebuilt.css";
@import "solidify-frontend/lib/code-editor/code-editor";
@import "quill/dist/quill.snow.css";

solidify-global-banner {
  &.INFO {
    background-color: $info !important;
  }
}