@import "solidify-frontend/lib/core/scss/abstracts/variables";

// ------------
// COLOR
// ------------

$primary-main-color: var(--primary-main-color);

// ------------
// SETTINGS
// ------------
$grid-width: 1600px;

$toolbar-width: 60px;
$main-toolbar-height: 80px;
$header-mobile-toolbar: 54px;
$breadcrumb-height: 38px;

// ------------
// THEMES
// ------------
$theme-name-hedera: 'hedera';
