@if (isDetail | isFalse) {
  <solidify-data-table [columns]="columns"
                       [actions]="actions"
                       [queryParameters]="queryParametersObs | async"
                       [data]="$any(listObs | async)"
                       [isLoading]="isLoadingObs | async"
                       [displaySpinnerWhenLoading]="true"
                       [isMultiSelectable]="false"
                       [skipInitialQuery]="true"
                       [stickyTopPosition]="stickyTopPosition"
                       [displayActionCopyIdToClipboard]="false"
                       [displayActionShowHistory]="false"
                       (selectChange)="showDetail($event)"
                       (queryParametersChange)="onQueryParametersEvent($event)"
  ></solidify-data-table>
} @else if (isDetail | isTrue) {
  <router-outlet></router-outlet>
}