@import "abstracts/abstracts";

:host {
  .title {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $extra-light-grey;
  }

  .list-logo-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 100%;
  }

  .funding-org-and-developped-by {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;

    .funding-org {
      display: flex;
      flex-direction: column;

      .list-logo-wrapper {
        border-right: 1px solid $extra-light-grey;
      }
    }

    .developped-by {
      display: flex;
      flex-direction: column;
    }
  }

  .project-members,
  .partner {
    display: flex;
    flex-direction: column;

    .list-logo-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @include respond-to-smaller-than-breakpoint('md') {
        grid-template-columns: repeat(3, 1fr);
      }

      @include respond-to-smaller-than-breakpoint('sm') {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  @include respond-to-smaller-than-breakpoint('md') {
    .funding-org-and-developped-by {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      .funding-org {
        .list-logo-wrapper {
          border-right: none;
        }
      }
    }

    .list-logo-wrapper {
      justify-content: center;
    }
  }
}

@include isInDarkMode {
  .title {
    border-bottom-color: $dark-mode-line;
  }

  .list-logo-wrapper {
    background-color: $white;
    border-radius: 8px;
  }
}
