<ul class="list-identifiers">
  <li *ngFor="let identifier of identifiersKeys"
      class="identifier"
  >
    <a class="link"
       [href]="getIdentifierValue(identifier)"
       target="_blank"
    >
      <solidify-icon [iconName]="getIcon(identifier)"
                     class="size-30"
      ></solidify-icon>
    </a>
  </li>
</ul>
