<form (ngSubmit)="onSubmit()"
      [cdkTrapFocusAutoCapture]="false"
      [formGroup]="form"
      [solidifyFocusFirstElement]="true"
      cdkTrapFocus
>
  <solidify-detail-presentation [iconName]="iconNameEnum.ingest"
                                [centerTemplate]="centerTemplate"
                                [rightTemplate]="rightTemplate"
  ></solidify-detail-presentation>

  <!--  <ng-template #leftTemplate>-->
  <!--    <solidify-image-upload-wrapper-container [resourceFileNameSpace]="datasetSourceDatasetActionNameSpace"-->
  <!--                                             [resourceFileState]="$any(datasetSourceDatasetState)"-->
  <!--                                             [uploadInstantly]="false"-->
  <!--                                             [isEditable]="editAvailable"-->
  <!--                                             (logoChange)="logoChange($event)"-->
  <!--    ></solidify-image-upload-wrapper-container>-->
  <!--  </ng-template>-->
  <ng-template #centerTemplate>
    <div class="header">
      <div class="project">
        <label class="label">
          {{labelTranslateEnum.project | translate}}:
        </label>
        <hedera-shared-project-name-container [id]="getFormControl(formDefinition.projectId).value"
                                              [displayOverlay]="false"
                                              class="name"
        ></hedera-shared-project-name-container>
      </div>

      <div class="status">
        <solidify-status *ngIf="model?.status | isNotNullNorUndefinedNorWhiteString"
                         [statusModel]="enumUtil.getKeyValue(sourceDatasetStatusEnumToTranslate, model?.status)"
        ></solidify-status>
      </div>
    </div>

    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.projectName | translate}}</mat-label>
      <input [solidifyDataTest]="dataTestEnum.ingestSourceDatasetName"
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>


    <mat-form-field *ngIf="getFormControl(formDefinition.description) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.description | translate}}</mat-label>
      <input [solidifyDataTest]="dataTestEnum.ingestSourceDatasetDescription"
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>
  </ng-template>

  <ng-template #rightTemplate>
    <ng-template [ngIf]="model | isNotNullNorUndefined">
      <mat-form-field *ngIf="getFormControl(formDefinition.lastImportDate) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class]="classIgnoreEditField"
                      [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{'ingest.sourceDataset.form.lastImportDate' | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-template>

</form>
