@import "solidify-frontend/lib/core/components/presentationals/abstract-form/abstract-form.presentational";
@import "abstracts/abstracts";

:host {
  form {
    .header {
      display: grid;
      grid-template-columns: max-content max-content;
      justify-content: space-between;

      @include respond-to-smaller-than-breakpoint('lg') {
        grid-template-columns: 1fr;
      }

      .project {
        font-size: 20px;
        padding-bottom: 18px;
        white-space: nowrap;

        @include respond-to-smaller-than-breakpoint('md') {
          display: flex;
          flex-direction: column;
        }

        .label {
          color: $label-disable;
          font-size: 16px;
        }

        .name {
          color: $text-color;
          font-weight: bold;
          @include truncate-with-ellipsis;
        }
      }
    }

    .section ::ng-deep .content {
      padding: 20px 0;
      display: grid;

      .line {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 20px;

        .mat-form-field {
          min-width: 100px;
        }

        @include respond-to-smaller-than-breakpoint("md") {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@include isInDarkMode {
  form {
    .header {
      .project {
        .label {
          color: $dark-mode-text-disabled;
        }

        .name {
          color: $dark-mode-text-color;
        }
      }
    }
  }
}
