<ul>
  <li *ngFor="let checksum of checksums"
      class="checksum"
  >
    <hedera-shared-checksum-item [checksum]="checksum.checksum"
                                 [checksumAlgo]="checksum.checksumAlgo"
                                 [checksumOrigin]="checksum.checksumOrigin"
    ></hedera-shared-checksum-item>
  </li>
</ul>
