<solidify-empty-container (onEscape)="backToList()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
></solidify-empty-container>
<solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                [formPresentational]="formPresentational"
                                [mode]="'create'"
>
</solidify-button-toolbar-detail>

<div [solidifySpinner]="isLoadingWithDependencyObs | async"
     class="wrapper"
>
  <hedera-admin-project-form #formPresentational
                             (checkAvailableChange)="checkAvailable($event)"
                             (dirtyChange)="updateCanDeactivate($event)"
                             (submitChange)="create($event)"
                             *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                             [defaultPlatformLicenseId]="(systemPropertyObs | async)?.defaultLicense"
                             [listRole]="listRoleObs | async"
                             [selectedFundingAgencies]="selectedFundingAgenciesObs | async"
                             [selectedInstitutions]="selectedInstitutionsObs | async"
                             [selectedRmls]="selectedRmlObs | async"
                             [selectedPersonRole]="selectedPersonRole"
                             [selectedResearchObjectTypes]="selectedResearchObjectTypeObs | async"
                             [defaultCopyrightHolder]="(systemPropertyObs | async)?.defaultCopyrightHolder"
                             (navigate)="navigate($event)"
  ></hedera-admin-project-form>
</div>
