<solidify-empty-container (onEscape)="backToList()"
                          solidifyShortCuts
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [formPresentational]="formPresentational"
                                  [mode]="'create'"
  >
  </solidify-button-toolbar-detail>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <hedera-admin-scheduled-task-form #formPresentational
                                      (checkAvailableChange)="checkAvailable($event)"
                                      (dirtyChange)="updateCanDeactivate($event)"
                                      (navigate)="navigate($event)"
                                      (submitChange)="create($event)"
                                      *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                                      [solidifyFocusFirstElement]="true"
    >
    </hedera-admin-scheduled-task-form>
  </div>
</solidify-empty-container>
