<div class="container">
  <h1 class="title">{{labelTranslateEnum.researchObjectNotFound | translate}}</h1>

  <p class="not-present">{{labelTranslateEnum.researchObjectWithIdDoesNotExist | translate:({id: researchObjectId}) }}</p>

  <div class="button-wrapper">
    <button (click)="back()"
            (onEnter)="back()"
            class="back-button"
            color="primary"
            mat-flat-button
            solidifyShortCuts
    >
      @if (module === researchElementModuleEnum.home) {
        {{labelTranslateEnum.backToSearch | translate}}
      } @else if (module === researchElementModuleEnum.browse) {
        {{labelTranslateEnum.back | translate}}
      }
    </button>
  </div>
</div>
