@import "abstracts/abstracts";

:host {
  padding-right: 30px;

  .metadata {
    .pre {
      font-size: 13px;
      line-height: 1.42857143;
      word-break: break-all;
      word-wrap: break-word;
      background-color: $white;
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow-x: auto;
    }

    .code {
      font-family: monospace;
      white-space: pre-wrap;
      padding-top: 0;
    }
  }
}

@include isInDarkMode {
  .metadata {
    .pre {
      background-color: #0d1117;
      border-color: #0d1117;
    }
  }
}
