<hedera-shared-data-file-information-container #sharedDataFileInformationContainer
                                               *ngIf="data"
                                               [data]="data"
                                               [canDelete]="true"
                                               [fileUrl]="fileDownloadUrl()"
                                               [solidifySpinner]="data | isNullOrUndefined"
                                               [backNavigate]="backNavigate()"
                                               (deleteChange)="delete()"
                                               (enterFullScreen)="enterFullScreen($event)"
>
  <div [class.fullscreen]="isInFullscreenMode"
       class="metadata"
  >
    <solidify-panel-expandable *ngIf="researchDataFileMetadata | isNonEmptyArray"
                               [isOpen]="true"
                               [titleToTranslate]="'ingest.sourceDataset.file.detail.metadata' | translate"
    >
      <ng-container *ngFor="let property of researchDataFileMetadata">
        <ul>
          <li>
            <span class="key">{{property | titlecase}}</span>
            <span class="value">
              <ng-container *ngIf="getMetadataValue(property) as value">
                <ng-container [ngSwitch]="property">
                  <ng-container *ngSwitchCase="property === 'web' ? property : ''">
                    <a (click)="openExternal(value)"
                       target="_blank"
                    >{{value}}</a>
                  </ng-container>
                  <ng-container *ngSwitchCase="property === 'width' ? property : ''">{{value}}px</ng-container>
                  <ng-container *ngSwitchCase="property === 'height' ? property : ''">{{value}}px</ng-container>
                  <ng-container *ngSwitchDefault>{{value}}</ng-container>
                </ng-container>
              </ng-container>
            </span>
          </li>
        </ul>
      </ng-container>

    </solidify-panel-expandable>

    <solidify-panel-expandable *ngIf="current?.rdfMetadata | isNotNullNorUndefinedNorWhiteString"
                               [isOpen]="true"
                               [titleToTranslate]="'ingest.sourceDataset.file.detail.rdfMetadata' | translate"
    >
    <pre class="pre">
      <code [highlight]="current.rdfMetadata"
            [language]="highlightLanguageEnum.shexc"
            class="code"
      ></code>
    </pre>

    </solidify-panel-expandable>
  </div>
</hedera-shared-data-file-information-container>
