@import "abstracts/abstracts";

:host {
  padding: 2px 0;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 10px;
  align-items: center;

  .algo {
    background-color: $extra-light-grey;
    border-radius: 4px;
    display: inline-block;
    padding: 4px 0;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    flex-shrink: 0;
  }

  .value {
    cursor: pointer;
    @include truncate-with-ellipsis;
  }

  .provided {
    font-size: 10px;
  }
}

@include isInDarkMode {
  .algo {
    color: $white;
    background-color: $dark-mode-toolbar;
  }
}
