<solidify-empty-container (onEscape)="isEdit ? backToList() : backToDetail()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <div class="toolbar-wrapper-with-role">
    <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                    (backToDetailChange)="backToDetail()"
                                    (deleteChange)="delete()"
                                    (editChange)="edit()"
                                    [currentModel]="currentObs | async"
                                    [formPresentational]="formPresentational"
                                    [mode]="isEdit ? 'edit' : 'detail'"
                                    [editAvailable]="editAvailable"
                                    [deleteAvailable]="deleteAvailable"
    >
    </solidify-button-toolbar-detail>
  </div>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <hedera-admin-rml-form #formPresentational
                                   *ngIf="isReadyToBeDisplayedObs | async"
                                   [editAvailable]="editAvailable"
                                   [model]="currentObs | async"
                                   [readonly]="!isEdit"
                                   (checkAvailableChange)="checkAvailable($event)"
                                   (dirtyChange)="updateCanDeactivate($event)"
                                   (editChange)="edit()"
                                   (submitChange)="update($event)"
                                   (navigate)="navigate($event)"
    ></hedera-admin-rml-form>

  </div>
</solidify-empty-container>


