<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>
  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [rightTemplate]="rightTemplate"
                                [iconName]="iconNameEnum.archiveTypes"
  ></solidify-detail-presentation>

  <ng-template #centerTemplate>
    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.nameLabel | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.version) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.version | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.baseUri) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.baseUri | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.description) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.description | translate}}</mat-label>
      <textarea [formControl]="fd"
                [required]="formValidationHelper.hasRequiredField(fd)"
                [solidifyValidation]="errors"
                cdkAutosizeMaxRows="20"
                cdkAutosizeMinRows="3"
                cdkTextareaAutosize
                matInput
      >
           </textarea>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>


    <solidify-url-input-navigator *ngIf="getFormControl(formDefinition.url) as fd"
                                  [formControl]="fd"
    >
    </solidify-url-input-navigator>

    <solidify-panel-expandable *ngIf="model | isNotNullNorUndefined"
                               [isOpen]="false"
                               [titleToTranslate]="labelTranslateEnum.rdfDetail | translate"
                               (openChange)="loadRdfDetail()"
    >
      <solidify-tabs-container #tabs
                               [tabs]="tabsRdf"
      ></solidify-tabs-container>
      <ng-template [ngIf]="tabs.currentTab.id === TAB_RDF_CLASSES">
        <solidify-data-table *ngIf="listRdfClasses | isNonEmptyArray"
                             [columns]="columns"
                             [data]="$any(listRdfClasses)"
                             [stickyTopPosition]="0"
                             [isInMemory]="true"
                             (selectChange)="openExternal($event)"
        ></solidify-data-table>
      </ng-template>
      <ng-template [ngIf]="tabs.currentTab.id === TAB_RDF_PROPERTIES">
        <solidify-data-table [columns]="columns"
                             [data]="$any(listRdfProperties)"
                             [stickyTopPosition]="0"
                             [isInMemory]="true"
                             (selectChange)="openExternal($event)"
        ></solidify-data-table>
      </ng-template>
    </solidify-panel-expandable>

  </ng-template>

  <ng-template #rightTemplate>
    <mat-checkbox *ngIf="getFormControl(formDefinition.external) as fd"
                  [formControl]="fd"
                  color="primary"
                  class="external"
    >{{labelTranslateEnum.external | translate}}
    </mat-checkbox>

    <mat-form-field *ngIf="getFormControl(formDefinition.format) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.format | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let format of ontologyFormatsEnum"
                    [value]="format.key"
                    solidifyTooltipOnEllipsis
        >
          {{format.value | translate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <solidify-file-upload-input-container *ngIf="getFormControl(formDefinition.ontologyFileChange) as fd"
                                          [backendFileAdapter]="dataFileAdapter"
                                          [readonly]="readonly || fd.disabled"
                                          [uploadButtonLabelToTranslate]="labelTranslateEnum.ontologyFile"
                                          [titleToTranslate]="labelTranslateEnum.ontologyFile"
                                          [backendFile]="model?.ontologyFile"
                                          [resourceId]="model?.resId"
                                          [resourceFileNameSpace]="adminOntologyActionNameSpace"
                                          [blobProvidedMode]="'RETRIEVE_BY_STORE'"
                                          [formControl]="fd"
                                          class="file-upload"
    ></solidify-file-upload-input-container>

  </ng-template>

  <hedera-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"
                                                        [resource]="model"
  >
  </hedera-shared-additional-information-panel-container>
</form>
