<solidify-icon [iconName]="iconName"
               class="size-30"
></solidify-icon>
<div class="text">
  <span class="title">{{titleToTranslate | translate}}</span>
  <span class="subtitle">{{subtitleToTranslate | translate}}</span>
</div>
