<solidify-empty-container (onEscape)="isEdit ? backToDetail() : backToList()"
                          [solidifyFocusFirstElement]="true"
                          cdkTrapFocus
                          solidifyShortCuts
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  (backToDetailChange)="backToDetail()"
                                  (deleteChange)="delete()"
                                  (editChange)="edit()"
                                  [currentModel]="currentObs | async"
                                  [formPresentational]="formPresentational"
                                  [mode]="isEdit ? 'edit' : 'detail'"
                                  [editAvailable]="editAvailable"
                                  [deleteAvailable]="deleteAvailable"
                                  [listExtraButtons]="listExtraButtons"
  >
  </solidify-button-toolbar-detail>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <hedera-admin-ontology-form #formPresentational
                                *ngIf="isReadyToBeDisplayedObs | async"
                                [editAvailable]="editAvailable"
                                [model]="currentObs | async"
                                [listRdfClasses]="listRdfClassesObs | async"
                                [listRdfProperties]="listRdfPropertiesObs | async"
                                [readonly]="!isEdit"
                                (checkAvailableChange)="checkAvailable($event)"
                                (dirtyChange)="updateCanDeactivate($event)"
                                (editChange)="edit()"
                                (submitChange)="update($event)"
                                (loadRdfDetailChange)="loadRdfDetail()"
    ></hedera-admin-ontology-form>
  </div>
</solidify-empty-container>
