<mat-menu>
  <button (click)="navigateToDoi()"
          *ngIf="mode === 'archive'"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.externalLink"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateEnum.navigateToTheDoi | translate}}</span>
  </button>
  <button *ngIf="mode === 'archive' && (shortDoi | isNotNullNorUndefinedNorWhiteString)"
          (click)="copyShortDoi()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.fingerprint"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{'doi.copyShortDoi' | translate}}</span>
  </button>
  <button (click)="copyLongDoi()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.fingerprint"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{'doi.copyLongDoi' | translate}}</span>
  </button>
  <button *ngIf="mode === 'archive' && (shortDoi | isNotNullNorUndefinedNorWhiteString)"
          (click)="copyUrlShortDoi()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.http"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{'doi.copyUrlShortLongDoi' | translate}}</span>
  </button>
  <button (click)="copyUrlLongDoi()"
          mat-menu-item
  >
    <solidify-icon [iconName]="iconNameEnum.http"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{'doi.copyUrlLongDoi' | translate}}</span>
  </button>
</mat-menu>
