<ng-container *ngIf="currentResearchElement.metadata.researchProject as project">
  <solidify-detail-presentation [centerTemplate]="centerTemplateProject"
                                [leftTemplate]="leftTemplateProject"
                                [rightTemplate]="rightTemplateProject"
                                class="shared-detail-presentation large-image project-detail-presentation"
  ></solidify-detail-presentation>

  <ng-template #leftTemplateProject>
    <solidify-image-display *ngIf="projectThumbnailUrl | isNotNull"
                            [image]="projectThumbnailUrl"
                            [mode]="imageDisplayModeEnum.IN_OVERLAY"
                            class="image-wrapper"
    ></solidify-image-display>
  </ng-template>

  <ng-template #centerTemplateProject>
    <h1 [solidifyOverlayData]="project"
        [solidifyOverlayComponent]="$any(projectOverlayComponent)"
        solidifyOverlay
        class="project-name"
    >
      <div *ngIf="false; else withLink">
        {{project.name}}
      </div>
      <ng-template #withLink>
        <div>
          <a [href]="project.url"
             [routerLink]="projectRoute"
          >{{project.name}}</a>
        </div>
      </ng-template>
    </h1>

    <div class="project-description">{{project.description}}</div>

    <div *ngIf="project.url as projectUrl">
      <a [href]="projectUrl">
        {{projectUrl}}
      </a>
    </div>
  </ng-template>

  <ng-template #rightTemplateProject>
    <div class="complementary-info">
      <div class="year">
        <solidify-icon [iconName]="iconNameEnum.creationDate"></solidify-icon>
        <span class="label">{{labelTranslateEnum.startDate | translate}}</span>
        <div>{{dateUtil.convertToSwissDateLongString(project.openingDate)}}</div>
      </div>

      <div *ngIf="currentResearchElement.metadata.researchProject.closingDate | isNotNullNorUndefinedNorWhiteString"
           class="year"
      >
        <solidify-icon [iconName]="iconNameEnum.creationDate"></solidify-icon>
        <span class="label">{{labelTranslateEnum.endDate | translate}}</span>
        <div>{{dateUtil.convertToSwissDateLongString(project.closingDate)}}</div>
      </div>

      <div *ngIf="currentResearchElement.metadata.researchProject.keyword | isNonEmptyArray"
           class="keyword"
      >
        <solidify-icon [iconName]="iconNameEnum.keyword"></solidify-icon>
        <span class="label">{{labelTranslateEnum.keyword | translate}}</span>
        <div>{{project.keyword.join(", ")}}</div>
      </div>

      <div class="type">
        <solidify-icon *ngIf="isResearchDataFile"
                       [iconName]="iconNameEnum.researchDataFile"
        ></solidify-icon>
        <solidify-icon *ngIf="isResearchObject"
                       [iconName]="iconNameEnum.researchObjects"
        ></solidify-icon>
        <span class="label">{{labelTranslateEnum.type | translate}}</span>
        <div>
          {{enumUtil.getLabel(researchElementMetadataEnumTranslate, currentResearchElement.metadata.itemType) | translate}}
        </div>
      </div>

      <div *ngIf="isResearchObject && (researchObject?.metadata.objectType | isNotNullNorUndefinedNorWhiteString)"
           class="object-type"
      >
        <solidify-icon [iconName]="getObjectTypeIcon(researchObject.metadata.objectType)"></solidify-icon>
        <span class="label">{{labelTranslateEnum.objectType | translate}}</span>
        <div>
          {{enumUtil.getLabel(objectTypeEnumTranslate, researchObject.metadata.objectType) | translate}}
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>

<solidify-detail-presentation [centerTemplate]="centerTemplate"
                              [leftTemplate]="leftTemplate"
                              [rightTemplate]="rightTemplate"
                              [class.research-object]="isResearchObject"
                              class="shared-detail-presentation large-image research-element-detail-presentation"
></solidify-detail-presentation>

<ng-template #leftTemplate>
  <solidify-image-display *ngIf="dataFileThumbnailUrl | isNotNull"
                          [image]="dataFileThumbnailUrl"
                          [mode]="imageDisplayModeEnum.MAIN"
                          [fallbackIconName]="isResearchObject ? iconNameEnum.researchObjects : iconNameEnum.researchDataFile"
                          [fallbackIconSizeClass]="'size-120'"
                          [matTooltip]="researchDataFile?.metadata?.fileName + ((dataFileThumbnailUrl | isNullOrUndefined) ? ' - ' +
                          (labelTranslateEnum.unableToPreview | translate) : '')"
                          [matTooltipDisabled]="isResearchObject"
                          class="image-wrapper"
  ></solidify-image-display>
</ng-template>

<ng-template #centerTemplate>

  <h1 class="title">{{currentResearchElement.metadata.uri}}</h1>

  <ul class="base-info-list">
    <ng-container *ngFor="let info of listInfo; trackBy: trackByFn">
      @if (info.overlayComponent | isNullOrUndefined) {
        <dl>
          <ng-template [ngTemplateOutlet]="line"
                       [ngTemplateOutletContext]="{info: info}"
          ></ng-template>
        </dl>
      } @else {
        <dl [solidifyOverlayData]="info.overlayData"
            [solidifyOverlayComponent]="$any(info.overlayComponent)"
            solidifyOverlay
        >
          <ng-template [ngTemplateOutlet]="line"
                       [ngTemplateOutletContext]="{info: info}"
          ></ng-template>
        </dl>
      }

      <ng-template #line
                   let-info="info"
      >
        <dt class="label"
            solidifyTooltipOnEllipsis
        >
          {{info.labelToTranslate | translate}}
        </dt>
        <dd class="value"
            solidifyTooltipOnEllipsis
        >
          <ng-template [ngIfElse]="noTranslate"
                       [ngIf]="info.type === typeInfoEnum.translateLabel"
          >
            <a *ngIf="info.link | isNotNullNorUndefinedNorWhiteString; else noLink"
               (click)="rdfClickEvent($event, info.link)"
               target="_blank"
            >{{info.value | translate}}</a>
            <ng-template #noLink>{{info.value | translate}}</ng-template>
          </ng-template>
          <ng-template #noTranslate>
            <a *ngIf="info.link | isNotNullNorUndefinedNorWhiteString; else noLink"
               (click)="rdfClickEvent($event, info.link)"
               target="_blank"
            >{{info.value}}</a>
            <ng-template #noLink>{{info.value}}</ng-template>
          </ng-template>
        </dd>
      </ng-template>
    </ng-container>
  </ul>

</ng-template>

<ng-template #rightTemplate>
  <div class="complementary-info">
    <div class="button-wrapper">
      @if (isResearchObject) {
        <button *ngIf="researchDataFile | isNotNullNorUndefined"
                (click)="showDetail(researchDataFile)"
                color="primary"
                mat-flat-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.researchDataFile"></solidify-icon>
          {{labelTranslateEnum.seeResearchDataFile | translate}}
        </button>
      } @else if (isResearchDataFile) {
        <button *ngIf="researchObject | isNotNullNorUndefined"
                (click)="showDetail(researchObject)"
                color="primary"
                mat-flat-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.researchObjects"></solidify-icon>
          {{labelTranslateEnum.seeResearchObject | translate}}
        </button>
      }

      @if ((researchDataFile | isNotNullNorUndefined) && (researchDataFile.metadata.metadataList.web | isNotNullNorUndefinedNorWhiteString)) {
        <button (click)="downloadDataFile(researchDataFile)"
                (onEnter)="downloadDataFile(researchDataFile)"
                color="primary"
                mat-flat-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.download"></solidify-icon>
          {{labelTranslateEnum.download | translate}}
        </button>
        @if (researchDataFile?.metadata.accessibleFrom === accessibleFromEnum.IIIF) {
          <div *ngIf="getIiifLink(researchDataFile) as link"
               class="button-with-copy-link"
          >
            <button (click)="openIiifImage(link)"
                    (onEnter)="openIiifImage(link)"
                    color="primary"
                    mat-flat-button
                    solidifyShortCuts
            >
              <solidify-icon [iconName]="iconNameEnum.iiif"
                             class="iiif-logo"
              ></solidify-icon>
              {{labelTranslateEnum.image | translate}}
            </button>
            <ng-template [ngTemplateOutlet]="copyLinkButton"
                         [ngTemplateOutletContext]="{link: link}"
            ></ng-template>
          </div>

          <div *ngIf="getInfoLink(researchDataFile) as link"
               class="button-with-copy-link"
          >
            <button (click)="openIiifInfoFile(link)"
                    (onEnter)="openIiifInfoFile(link)"
                    color="primary"
                    mat-flat-button
                    solidifyShortCuts
            >
              <solidify-icon [iconName]="iconNameEnum.iiif"
                             class="iiif-logo"
              ></solidify-icon>
              {{labelTranslateEnum.info | translate}}
            </button>
            <ng-template [ngTemplateOutlet]="copyLinkButton"
                         [ngTemplateOutletContext]="{link: link}"
            ></ng-template>
          </div>
        }
      }

      @if (isManifest) {
        <div *ngIf="getManifestLink(currentResearchElement) as link"
             class="button-with-copy-link"
        >
          <button (click)="openIiifManifestFile(link)"
                  (onEnter)="openIiifManifestFile(link)"
                  color="primary"
                  mat-flat-button
                  solidifyShortCuts
          >
            <solidify-icon [iconName]="iconNameEnum.iiif"
                           class="iiif-logo"
            ></solidify-icon>
            {{labelTranslateEnum.manifest | translate}}
          </button>
          <ng-template [ngTemplateOutlet]="copyLinkButton"
                       [ngTemplateOutletContext]="{link: link}"
          ></ng-template>
        </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #copyLinkButton
             let-link="link"
>
  <button *ngIf="currentResearchElement?.metadata?.researchProject?.accessPublic | isTrue"
          (click)="copyLinkToClipboard(link)"
          (onEnter)="copyLinkToClipboard(link)"
          [matTooltipPosition]="'above'"
          [matTooltip]="labelTranslateEnum.copyLinkToClipboard | translate"
          class="copy-link-button"
          mat-icon-button
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.copyToClipboard"
                   class="size-16"
    ></solidify-icon>
  </button>
</ng-template>

<solidify-panel-expandable [isOpen]="true"
                           [titleToTranslate]="labelTranslateEnum.rdf | translate"
>
  <div>
    <div class="rdf-header">
      <mat-form-field *ngIf="formControlRdfFormat as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                      solidifyTooltipOnEllipsis
                      class="rdf-format"
      >
        <mat-label>{{labelTranslateEnum.format | translate}}</mat-label>
        <mat-select [formControl]="fd"
                    [required]="formValidationHelper.hasRequiredField(fd)"
                    [solidifyValidation]="errors"
        >
          <mat-option *ngFor="let format of rdfFormatEnumTranslate"
                      [value]="format.key"
                      solidifyTooltipOnEllipsis
          >
            {{format.value | translate}}
          </mat-option>
        </mat-select>
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
      <button (click)="copyRdf()"
              (onEnter)="copyRdf()"
              [matTooltipPosition]="'above'"
              [matTooltip]="labelTranslateEnum.copyRdfToClipboard | translate"
              class="token-icon"
              type="button"
              mat-icon-button
              solidifyShortCuts
      >
        <solidify-icon [iconName]="iconNameEnum.copyToClipboard"></solidify-icon>
      </button>
    </div>
    <div [solidifySpinner]="isLoadingRdf">
        <pre class="pre">
        <code *ngIf="rdfAsWithLink | isNotNullNorUndefinedNorWhiteString"
              [innerHTML]="rdfAsWithLink"
              (click)="rdfClickEvent($event)"
              class="code"
        ></code>
        </pre>
    </div>
  </div>
</solidify-panel-expandable>

<ng-template [ngIf]="ssrUtil.isBrowser">
  <solidify-panel-expandable *ngIf="metadataUtil.getXml(currentResearchElement) as xml"
                             [isOpen]="false"
                             [titleToTranslate]="labelTranslateEnum.rawFormat | translate"
  >
  <pre class="pre">
  <code [highlight]="xml"
        [language]="'xml'"
        class="code"
  ></code>
  </pre>
  </solidify-panel-expandable>
</ng-template>

<solidify-panel-expandable *ngIf="relativeResearchObject | isNonEmptyArray"
                           [isOpen]="true"
                           [titleToTranslate]="labelTranslateEnum.similarResearchObject | translate"
>
  <div *ngIf="viewModeList === viewModeListEnum.tiles"
       class="tiles-container"
  >
    <hedera-shared-research-object-tile *ngFor="let researchObject of relativeResearchObject.slice(0, 4)"
                                        [researchElement]="researchObject"
                                        [solidifyDataTest]="dataTestEnum.homeTile"
                                        (selectChange)="showDetail($event)"
                                        mode="home-tiles"
    ></hedera-shared-research-object-tile>
  </div>
</solidify-panel-expandable>
