<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>

  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [rightTemplate]="rightTemplate"
                                [iconName]="iconNameEnum.rml"
  ></solidify-detail-presentation>

  <ng-template #centerTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.nameLabel | translate }}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyFocusFirstElement]="true"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.description) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.description | translate}}</mat-label>
      <textarea [formControl]="fd"
                [required]="formValidationHelper.hasRequiredField(fd)"
                [solidifyValidation]="errors"
                cdkAutosizeMaxRows="20"
                cdkAutosizeMinRows="3"
                cdkTextareaAutosize
                matInput
      >
           </textarea>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="getFormControl(formDefinition.format) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.dataSourceFormat | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let format of rmlFormatEnum"
                    [value]="format.key"
                    solidifyTooltipOnEllipsis
        >
          {{format.value | translate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.version) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.version | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>


  </ng-template>
  <ng-template #rightTemplate>
    <solidify-file-upload-input-container *ngIf="getFormControl(formDefinition.rdfFileChange) as fd"
                                          [backendFileAdapter]="dataFileAdapter"
                                          [readonly]="readonly || fd.disabled"
                                          [uploadButtonLabelToTranslate]="labelTranslateEnum.rmlFile"
                                          [titleToTranslate]="labelTranslateEnum.rmlFile"
                                          [backendFile]="model?.rdfFile"
                                          [resourceId]="model?.resId"
                                          [resourceFileNameSpace]="adminRmlActionNameSpace"
                                          [blobProvidedMode]="'RETRIEVE_BY_STORE'"
                                          [formControl]="fd"
                                          class="file-upload"
    ></solidify-file-upload-input-container>
  </ng-template>

  <hedera-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"
                                                        [resource]="model"
  >
  </hedera-shared-additional-information-panel-container>
</form>
