@import "abstracts/abstracts";

:host {
  .title {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .list {
    padding-left: 10px;
  }

  .highlight {
    color: $primary-color;
    font-weight: bold;
  }
}