@if (project | isNotNullNorUndefined) {
  <h4 class="title">{{labelTranslateEnum.projectStatistics | translate}}</h4>
  <ul class="list">
    <li><span class="highlight">{{project.tripleNumber ?? 0 | number}}</span> {{labelTranslateEnum.tripleNumber | translate}}</li>
    <li><span class="highlight">{{project.fileNumber ?? 0 | number}}</span> {{labelTranslateEnum.fileNumber | translate}}</li>
    <li>{{labelTranslateEnum.totalSize | translate}}: <span class="highlight">{{project.totalSize ?? 0 | filesize}}</span></li>
  </ul>
}
