<div *ngIf="data | isNotNullNorUndefined"
     @overlay
     class="overlay"
>
  <div class="icon-wrapper">
    <solidify-icon [iconName]="iconNameEnum.ontologies"
                   class="size-80"
    ></solidify-icon>
  </div>

  <div class="informations">
    <div class="name"
         solidifyTooltipOnEllipsis
    >{{data.name}}
    </div>
    <div class="description">{{data.description}}</div>
    <div class="format">{{labelTranslateEnum.format | translate}}: {{data.format}}</div>
    <div *ngIf="data.url | isNotNullNorUndefinedNorWhiteString"
         class="url-wrapper"
         solidifyTooltipOnEllipsis
    >
      <a [href]="data.url"
         target="_blank"
         class="url"
      >{{data.url}}</a>
    </div>
  </div>
</div>
