<solidify-empty-container (keydown.escape)="isEdit ? backToDetail() : backToList()"
                          [solidifyFocusFirstElement]="true"
                          cdkTrapFocus
                          solidifyShortCuts
>
  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <hedera-browse-project-form #formPresentational
                                (checkAvailableChange)="checkAvailable($event)"
                                (dirtyChange)="updateCanDeactivate($event)"
                                [defaultPlatformLicenseId]="(systemPropertyObs | async)?.defaultLicense"
                                (editChange)="edit()"
                                (submitChange)="update($event)"
                                *ngIf="isReadyToBeDisplayedObs | async"
                                [editAvailable]="editAvailable"
                                [model]="currentObs | async"
                                [readonly]="!isEdit"
                                [listRole]="listRoleObs | async"
                                [selectedRmls]="selectedRmlObs | async"
                                [selectedResearchObjectTypes]="selectedResearchObjectTypeObs | async"
                                [selectedFundingAgencies]="selectedFundingAgenciesObs | async"
                                [selectedInstitutions]="selectedInstitutionsObs | async"
                                [selectedPersonRole]="selectedPersonRoleObs | async"
                                [isManager]="currentUserIsManagerObs | async"
                                [isMemberProject]="currentUserIsMemberProjectObs | async"
                                (navigate)="navigate($event)"
    ></hedera-browse-project-form>
  </div>
</solidify-empty-container>
