<solidify-base-action-dialog [titleToTranslate]="labelTranslateEnum.linkToResearchDataFile | translate">
  <form class="form">

    <mat-form-field *ngIf="getFormControl(formDefinition.type) as fd"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.dataSourceFormat | translate }}</mat-label>
      <mat-select [formControl]="fd"
      >
        <mat-option *ngFor="let type of typeEnumTranslate"
                    [value]="type.key"
                    solidifyTooltipOnEllipsis
        >
          {{type.value | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.version) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.version | translate }}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <solidify-searchable-single-select *ngIf="getFormControl(formDefinition.researchDataFileId) as fd"
                                       [formControl]="fd"
                                       [extraInfoSecondLineLabelCallback]="researchDataFileSecondLineCallback"
                                       [labelKey]="'fileName'"
                                       [extraSearchQueryParam]="researchDataFileExtraSearchQueryParam"
                                       [placeholder]="labelTranslateEnum.researchDataFile | translate"
                                       [required]="formValidationHelper.hasRequiredField(fd)"
                                       [resourceNameSpace]="sharedResearchDataFileActionNameSpace"
                                       [sort]="sharedResearchDataFileSort"
                                       [state]="sharedResearchDataFileState"
                                       [tooltipNavigateToTranslate]="labelTranslateEnum.seeLicenseDetail | translate"
                                       [valueKey]="'resId'"
                                       (valueChange)="setResearchDataFile($event)"
                                       solidifyValidation
    >
    </solidify-searchable-single-select>
  </form>


</solidify-base-action-dialog>
<div class="footer"
     mat-dialog-actions
>
  <button [mat-dialog-close]=""
          [solidifyAutoFocus]="true"
          mat-button
          color="primary"
  >{{labelTranslateEnum.close | translate}}
  </button>
  <button (click)="onSubmit()"
          [disabled]="form.invalid || (researchDataFile | isNullOrUndefined)"
          color="primary"
          mat-flat-button
  >{{labelTranslateEnum.confirm | translate}}
  </button>
</div>

