<div class="upload-button-wrapper">
  <ng-template [ngIf]="editMode === editModeEnum.full">
    <button (click)="openModalLinkToResearchDataFile()"
            (onEnter)="openModalLinkToResearchDataFile()"
            solidifyAlternativeButton
            solidifyShortCuts
    >
      <solidify-icon [iconName]="iconNameEnum.linkToResearchDataFile"></solidify-icon>
      {{labelTranslateEnum.linkToResearchDataFile | translate}}
    </button>

    <button (click)="openModalUpload()"
            (onEnter)="openModalUpload()"
            solidifyAlternativeButton
            id="deposit-upload-primary-data"
            solidifyShortCuts
    >
      <solidify-icon [iconName]="iconNameEnum.uploadFile"></solidify-icon>
      {{'ingest.file.button.uploadFile' | translate}}
    </button>

    <button (click)="openModalUploadArchive()"
            (onEnter)="openModalUploadArchive()"
            [matTooltip]="'ingest.file.button.uploadArchive.tooltip' | translate"
            color="primary"
            id="deposit-upload-archive"
            mat-button
            solidifyShortCuts
            type="button"
    >
      <solidify-icon [iconName]="iconNameEnum.uploadStructuredFiles"></solidify-icon>
      {{'ingest.file.button.uploadArchive.label' | translate}}
    </button>
  </ng-template>
</div>

<solidify-data-files-upload-in-progress [listFilesUploading]="uploadStatusFilteredByCurrentContextObs | async"
                                        (cancelChange)="cancel($event)"
                                        (retryChange)="retry($event)"
                                        class="deposit-files-upload-in-progress"
></solidify-data-files-upload-in-progress>