:host {
  display: grid;
  grid-template-columns: min-content min-content min-content max-content;
  align-items: center;
  grid-gap: 4px;

  .date {
    padding-left: 5px;
  }
}

:host(:not(.have-embargo)) {
  grid-template-columns: 1fr;
}
