<ng-template [ngIf]="embargoAccessLevel | isNotNullNorUndefinedNorWhiteString">
  <hedera-shared-access-level [accessLevel]="embargoAccessLevel"
                            [withTooltip]="withTooltip"
                            [size]="size"
  ></hedera-shared-access-level>
  <solidify-icon [iconName]="iconNameEnum.next"
                 class="size-12"
  ></solidify-icon>
</ng-template>

<hedera-shared-access-level [accessLevel]="accessLevel"
                          [withTooltip]="withTooltip"
                          [size]="size"
></hedera-shared-access-level>

<span *ngIf="(embargoAccessLevel | isNotNullNorUndefinedNorWhiteString) && (embargoEndDate | isNotNullNorUndefined)"
      class="date"
>
  {{dateUtil.convertDateToDateString(embargoEndDate)}}
</span>
