<solidify-base-action-dialog [titleToTranslate]="(data.mode === datasetSourceApplyRmlDialogModeEnum.single ? labelTranslateEnum.applyRml : labelTranslateEnum.applyRmlOnSelection) | translate">
  <form class="form">

    <mat-form-field *ngIf="getFormControl(formDefinition.rmlFileId) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.rmlFile | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let rml of (data.listProjectRmlObs | async)"
                    [value]="rml.resId"
                    solidifyTooltipOnEllipsis
        >
          {{rml.name}} ({{labelTranslateEnum.version | translate}} {{rml.version}})
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.rdfFormat) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.format | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let rdfFormat of listRdfFormat"
                    [value]="rdfFormat.key"
                    solidifyTooltipOnEllipsis
        >
          {{rdfFormat.value | translate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>
  </form>

</solidify-base-action-dialog>
<div class="footer"
     mat-dialog-actions
>
  <button [mat-dialog-close]=""
          [solidifyAutoFocus]="true"
          mat-button
          color="primary"
  >{{labelTranslateEnum.close | translate}}
  </button>
  <button (click)="onSubmit()"
          [disabled]="form.invalid"
          color="primary"
          mat-flat-button
  >{{labelTranslateEnum.confirm | translate}}
  </button>
</div>

