@import "abstracts/abstracts";

$size-image: 125px;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $extra-light-grey;
  padding: 10px 20px;
  position: relative;

  .grid {
    width: 100%;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-rows: min-content min-content min-content;

    .image-container {
      margin-top: 20px;
      margin-bottom: 10px;
      position: relative;
      display: flex;
      justify-content: center;

      .image-wrapper {
        position: relative;
      }
    }

    .project-and-title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .project {
        color: $light-grey;
        font-weight: bold;
        overflow: hidden;
        margin-bottom: 5px;
        max-width: 300px;

        ::ng-deep > * {
          @include truncate-with-ellipsis;
        }
      }

      .title {
        font-weight: bold;
        margin-bottom: 10px;
        max-width: 300px;
        @include truncate-with-ellipsis;
      }
    }

    .detailed-infos {
      display: grid;
      //grid-template-columns: 1fr 1fr 1fr;
      grid-template-columns: max-content;
      grid-gap: 10px;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .access-level {
        &.red {
          color: $red;
        }

        &.orange {
          color: $warning;
        }

        &.green {
          color: $success;
        }
      }

      .year,
      .access-level,
      .size {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-gap: 10px;
        align-items: center;
        justify-content: start;
      }
    }

    .button-wrapper {
      text-align: center;
      visibility: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > * {
        margin: 5px;
      }

      .send-request-round-button {
        &.disabled {
          cursor: initial !important;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;

    .grid {
      .button-wrapper {
        visibility: initial;
      }
    }
  }
}

:host(:not(.is-line-display-mode)) {
  .button-wrapper {
    position: absolute;
    bottom: -2px;
    right: 0;
    left: 0;

    .round-button {
      background-color: $primary-color;
      color: $white;
      border-radius: 100px;
      padding: 10px;
      height: 24px;
      box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

      &.disabled {
        background-color: $white;
        color: $medium-light-grey;
      }
    }
  }
}

:host-context(body[ui='touch']) {
  .grid {
    .button-wrapper {
      visibility: initial;
    }
  }
}

@include isInDarkMode {
  border-color: $dark-mode-line;

  :host(.is-access-controlled.is-line-display-mode) {
    .access-controlled {
      background-color: $dark-mode-background;
    }
  }
}
