<div class="grid">
  <div class="image-container">
    <solidify-image-display *ngIf="thumbnailUrl | isNotNull"
                            [image]="thumbnailUrl"
                            [mode]="imageDisplayModeEnum.IN_TILE"
                            [fallbackIconName]="isResearchObject ? iconNameEnum.researchObjects : iconNameEnum.researchDataFile"
                            class="image-wrapper"
    ></solidify-image-display>

    <!--    <div class="button-wrapper">-->
    <!--      <button (click)="download($event)"-->
    <!--              solidifyRoundButton-->
    <!--              solidifyShortCuts-->
    <!--      >-->
    <!--        <solidify-icon [iconName]="iconNameEnum.download"></solidify-icon>-->
    <!--      </button>-->
    <!--    </div>-->

  </div>
  <div class="project-and-title">
    {{researchElement.metadata.researchProject.name}}
    <span class="title"
          solidifyTooltipOnEllipsis
    >{{researchElement.metadata.uri}}</span>
  </div>
  <div *ngIf="metadataUtil.getSize(researchElement) as size"
       class="detailed-infos"
  >
    <span class="size">
      <solidify-icon [iconName]="iconNameEnum.foldersView"></solidify-icon>
      {{size | filesize}}
    </span>
  </div>
</div>
