<solidify-empty-container (onEscape)="isEdit ? backToDetail() : backToList()"
                          [solidifyFocusFirstElement]="true"
                          cdkTrapFocus
                          solidifyShortCuts
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  (backToDetailChange)="backToDetail()"
                                  (deleteChange)="delete()"
                                  (editChange)="edit()"
                                  [currentModel]="currentObs | async"
                                  [formPresentational]="formPresentational"
                                  [mode]="isEdit ? 'edit' : 'detail'"
                                  [listExtraButtons]="listExtraButtons"
                                  [editAvailable]="editAvailable"
                                  [deleteAvailable]="deleteAvailable"
  >
  </solidify-button-toolbar-detail>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <hedera-admin-project-form #formPresentational
                               (checkAvailableChange)="checkAvailable($event)"
                               (dirtyChange)="updateCanDeactivate($event)"
                               [defaultPlatformLicenseId]="(systemPropertyObs | async)?.defaultLicense"
                               (editChange)="edit()"
                               (submitChange)="update($event)"
                               *ngIf="isReadyToBeDisplayedObs | async"
                               [editAvailable]="editAvailable"
                               [model]="currentObs | async"
                               [readonly]="!isEdit"
                               [listRole]="listRoleObs | async"
                               [selectedFundingAgencies]="selectedFundingAgenciesObs | async"
                               [selectedInstitutions]="selectedInstitutionsObs | async"
                               [selectedPersonRole]="selectedPersonRoleObs | async"
                               [selectedRmls]="selectedRmlObs | async"
                               [selectedResearchObjectTypes]="selectedResearchObjectTypeObs | async"
                               [defaultCopyrightHolder]="(systemPropertyObs | async)?.defaultCopyrightHolder"
                               (navigate)="navigate($event)"
    ></hedera-admin-project-form>
  </div>
</solidify-empty-container>
