<div [class.is-active]="currentViewMode === packageButtonNavigatorTypeEnum.dataset"
     [class.is-disabled]="(datasetId | isNullOrUndefinedOrWhiteString) || (projectId | isNullOrUndefinedOrWhiteString)"
     [matTooltip]="labelTranslateEnum.dataset | translate"
     (click)="navigateToSourceDataset()"
     class="button"
>
  <solidify-icon [iconName]="iconNameEnum.ingest"
                 class="icon size-16"
  ></solidify-icon>
  <span class="text">{{labelTranslateEnum.dataset | translate}}</span>
</div>
<div class="separator"></div>
