<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>
  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [rightTemplate]="rightTemplate"
                                [iconName]="iconNameEnum.researchObjects"
  ></solidify-detail-presentation>
  <ng-template #centerTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.nameLabel | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.rdfType) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.rdfTypeLabel | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.description) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.description | translate}}</mat-label>
      <textarea [formControl]="fd"
                [required]="formValidationHelper.hasRequiredField(fd)"
                [solidifyValidation]="errors"
                matInput
      ></textarea>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <hedera-shared-sparql-code-editor *ngIf="getFormControl(formDefinition.sparqlListQuery) as fd"
                                      [formControl]="fd"
                                      [title]="labelTranslateEnum.sparqlListQuery | translate"
                                      [required]="formValidationHelper.hasRequiredField(fd)"
                                      solidifyValidation
    ></hedera-shared-sparql-code-editor>

    <hedera-shared-sparql-code-editor *ngIf="getFormControl(formDefinition.sparqlDetailQuery) as fd"
                                      [formControl]="fd"
                                      [title]="labelTranslateEnum.sparqlDetailQuery | translate"
                                      [required]="formValidationHelper.hasRequiredField(fd)"
                                      solidifyValidation
    ></hedera-shared-sparql-code-editor>

  </ng-template>

  <ng-template #rightTemplate>

    <solidify-searchable-single-select #researchObjectTypeSingleSearchableSelect
                                       *ngIf="getFormControl(formDefinition.ontology) as fd"
                                       (navigate)="navigateToOntology($event)"
                                       [defaultValueTooltip]="labelTranslateEnum.defaultValue | translate"
                                       [formControl]="fd"
                                       [isWithLink]="true"
                                       [labelKey]="'name'"
                                       [labelCallback]="ontologieCallback"
                                       [placeholder]="labelTranslateEnum.ontologie | translate"
                                       [required]="formValidationHelper.hasRequiredField(fd)"
                                       [resourceNameSpace]="sharedOntologyActionNameSpace"
                                       [sort]="sharedOntologySort"
                                       [state]="sharedOntologyState"
                                       [tooltipNavigateToTranslate]="labelTranslateEnum.seeResearchObjectTypeDetail | translate"
                                       [urlKey]="'url'"
                                       [valueKey]="'resId'"
                                       aria-label="ontology"
                                       solidifyValidation
                                       [solidifyOverlayComponent]="(ontologyOverlayData | isNotNullNorUndefined) ? $any(ontologyOverlayComponent) : undefined"
                                       [solidifyOverlayData]="ontologyOverlayData"
                                       solidifyOverlay
                                       (valueChange)="setOntologyOverlayData($event)"
    >
    </solidify-searchable-single-select>
  </ng-template>
</form>
