<solidify-empty-container (onEscape)="backToList()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [formPresentational]="formPresentational"
                                  [mode]="'create'"
  >
  </solidify-button-toolbar-detail>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <hedera-admin-institution-form #formPresentational
                                 *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                                 [listRole]="listRoleObs | async"
                                 (checkAvailableChange)="checkAvailable($event)"
                                 (dirtyChange)="updateCanDeactivate($event)"
                                 (submitChange)="create($event)"
                                 (navigate)="navigate($event)"
    ></hedera-admin-institution-form>
  </div>
</solidify-empty-container>
