@import "abstracts/abstracts";

:host {
  display: block;

  .maintenance-mode {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $red;
    text-align: center;
    color: $white;
    font-weight: bold;
    font-size: 13px;
    padding: 1px;
    z-index: $z-index-banner-maintenance;
  }

  .app-wrapper {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;

    .header {
      .toolbar-and-breadcrumb-wrapper {
        background-color: $background-grey;
        overflow: hidden;

        .breadcrumb {
          max-width: $grid-width;
          width: 100%;

          @include respond-to-breakpoint-and-bigger('md') {
            padding-left: 125px;
          }
        }
      }
    }
  }

  .body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;

    .content {
      display: grid;
      grid-template-columns: 1fr;

      .router-outlet-wrapper {
        max-width: $grid-width;
        justify-self: center;
        width: 100%;

        &.ignore-grid {
          max-width: initial;
        }
      }
    }
  }
}

@include isInDarkMode {
  .app-wrapper {
    .header {
      .toolbar-and-breadcrumb-wrapper {
        background-color: $dark-mode-toolbar;
      }
    }
  }
}
