<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>

  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [leftTemplate]="leftTemplate"
                                [rightTemplate]="rightTemplate"
                                class="shared-detail-presentation"
  ></solidify-detail-presentation>

  <ng-template #leftTemplate>
    <solidify-image-upload-wrapper-container [resourceFileNameSpace]="browseProjectActionNamespace"
                                             [resourceFileState]="$any(projectState)"
                                             [uploadInstantly]="false"
                                             [isEditable]="editAvailable && isManager"
                                             (logoChange)="logoChange($event)"
    ></solidify-image-upload-wrapper-container>
  </ng-template>

  <ng-template #centerTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.nameLabel | translate}}</mat-label>
      <input (blur)="checkAvailable(formDefinition.name, fd)"
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.description) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.description | translate}}</mat-label>
      <textarea [formControl]="fd"
                [required]="formValidationHelper.hasRequiredField(fd)"
                [solidifyValidation]="errors"
                cdkAutosizeMaxRows="10"
                cdkAutosizeMinRows="3"
                cdkTextareaAutosize
                matInput
      >
        </textarea>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <ng-template [ngIf]="isLoggedIn">
      <solidify-searchable-multi-select *ngIf="getFormControl(formDefinition.fundingAgencies) as fd"
                                        [formControl]="fd"
                                        [labelKey]="'name'"
                                        [placeholder]="labelTranslateEnum.clickHereToAddAnAgency | translate"
                                        [required]="formValidationHelper.hasRequiredField(fd)"
                                        [resourceNameSpace]="sharedFundingAgencyActionNameSpace"
                                        [sort]="sharedFundingAgencySort"
                                        [state]="sharedFundingAgencyState"
                                        [title]="labelTranslateEnum.fundingAgencies | translate"
                                        [tooltipNavigateToTranslate]="labelTranslateEnum.seeFundingAgencyDetail | translate"
                                        [valueKey]="'resId'"
                                        [overlayComponent]="$any(fundingAgencyOverlayComponent)"
                                        aria-label="funding agencies"
                                        solidifyValidation
      >
      </solidify-searchable-multi-select>

      <solidify-searchable-multi-select (navigate)="navigateToInstitution($event)"
                                        *ngIf="getFormControl(formDefinition.institutions) as fd"
                                        [formControl]="fd"
                                        [isWithLink]="true"
                                        [labelKey]="'name'"
                                        [placeholder]="labelTranslateEnum.clickHereToAddAnInstitution | translate"
                                        [required]="formValidationHelper.hasRequiredField(fd)"
                                        [resourceNameSpace]="sharedInstitutionActionNameSpace"
                                        [sort]="sharedInstitutionSort"
                                        [state]="sharedInstitutionState"
                                        [title]="labelTranslateEnum.institutions | translate"
                                        [tooltipNavigateToTranslate]="labelTranslateEnum.seeInstitutionDetail | translate"
                                        [valueKey]="'resId'"
                                        [overlayComponent]="$any(institutionOverlayComponent)"
                                        aria-label="institution"
                                        solidifyValidation
      >
      </solidify-searchable-multi-select>

      <solidify-searchable-multi-select *ngIf="getFormControl(formDefinition.rmls) as fd"
                                        [formControl]="fd"
                                        [labelKey]="'name'"
                                        [placeholder]="labelTranslateEnum.clickHereToAddARml | translate"
                                        [required]="formValidationHelper.hasRequiredField(fd)"
                                        [resourceNameSpace]="sharedRmlActionNameSpace"
                                        [sort]="sharedRmlSort"
                                        [state]="sharedRmlState"
                                        [title]="labelTranslateEnum.rmls | translate"
                                        [tooltipNavigateToTranslate]="labelTranslateEnum.seeRmlDetail | translate"
                                        [valueKey]="'resId'"
                                        aria-label="rml"
                                        solidifyValidation
      >
      </solidify-searchable-multi-select>
    </ng-template>

    <solidify-searchable-multi-select *ngIf="getFormControl(formDefinition.researchObjectTypes) as fd"
                                      [formControl]="fd"
                                      [labelKey]="'name'"
                                      [placeholder]="labelTranslateEnum.clickHereToAddResearchObjectType | translate"
                                      [required]="formValidationHelper.hasRequiredField(fd)"
                                      [resourceNameSpace]="sharedResearchObjectTypeActionNameSpace"
                                      [sort]="sharedResearchObjectTypeSort"
                                      [state]="sharedResearchObjectTypeState"
                                      [title]="labelTranslateEnum.researchObjectTypes | translate"
                                      [tooltipNavigateToTranslate]="labelTranslateEnum.seeResearchObjectTypeDetail | translate"
                                      [valueKey]="'resId'"
                                      aria-label="research object"
                                      solidifyValidation
    >
    </solidify-searchable-multi-select>

  </ng-template>

  <ng-template #rightTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.openingDate) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    (click)="openingDateDatepicker.open()"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.opening | translate}}</mat-label>
      <input [formControl]="fd"
             [matDatepicker]="openingDateDatepicker"
             matInput
      >
      <mat-datepicker-toggle [for]="openingDateDatepicker"
                             matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #openingDateDatepicker
                      [touchUi]="breakpointService.isSmallerThanMd()"
      ></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.closingDate) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    (click)="closingDateDatepicker.open()"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.closing | translate}}</mat-label>
      <input [formControl]="fd"
             [matDatepicker]="closingDateDatepicker"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-datepicker-toggle [for]="closingDateDatepicker"
                             matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #closingDateDatepicker
                      [touchUi]="breakpointService.isSmallerThanMd()"
      ></mat-datepicker>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <solidify-url-input-navigator *ngIf="getFormControl(formDefinition.url) as fd"
                                  [formControl]="fd"
    >
    </solidify-url-input-navigator>

    <ng-template [ngIf]="isLoggedIn">
      <solidify-searchable-single-select #licenseSingleSearchableSelect
                                         *ngIf="getFormControl(formDefinition.defaultLicense) as fd"
                                         (navigate)="navigateToLicense($event)"
                                         [defaultValueTooltip]="labelTranslateEnum.defaultValue | translate"
                                         [defaultValue]="defaultPlatformLicenseId"
                                         [formControl]="fd"
                                         [readonly]="true"
                                         [isWithLink]="true"
                                         [labelCallback]="licenseCallback"
                                         [labelKey]="'title'"
                                         [placeholder]="labelTranslateEnum.license | translate"
                                         [required]="formValidationHelper.hasRequiredField(fd)"
                                         [resourceNameSpace]="sharedLicenseActionNameSpace"
                                         [sort]="sharedLicenseSort"
                                         [state]="sharedLicenseState"
                                         [tooltipNavigateToTranslate]="labelTranslateEnum.seeLicenseDetail | translate"
                                         [urlKey]="'url'"
                                         [valueKey]="'resId'"
                                         [overlayComponent]="$any(licenseOverlayComponent)"
                                         aria-label="license"
                                         solidifyValidation
      >
      </solidify-searchable-single-select>

      <mat-checkbox *ngIf="getFormControl(formDefinition.accessPublic) as fd"
                    [formControl]="fd"
                    color="primary"
      >{{labelTranslateEnum.isPublic | translate}}
      </mat-checkbox>

      <mat-checkbox *ngIf="getFormControl(formDefinition.hasData) as fd"
                    [formControl]="fd"
                    color="primary"
      >{{labelTranslateEnum.hasData | translate}}
      </mat-checkbox>
    </ng-template>

    <hedera-shared-project-statistics *ngIf="model | isNotNullNorUndefined"
                                      [project]="model"
    ></hedera-shared-project-statistics>
  </ng-template>

  <solidify-panel-expandable *ngIf="isLoggedIn && (isManager || (isMemberProject && (selectedPersonRole | isNonEmptyArray)))"
                             [isOpen]="true"
                             [titleToTranslate]="labelTranslateEnum.projectMembers | translate"
                             [icon]="iconNameEnum.project"
                             class="section"

  >
    <hedera-shared-table-person-role-container *ngIf="selectedPersonRole | isNotNullNorUndefined"
                                               [formControl]="getFormControl(formDefinition.personRole)"
                                               [listRole]="listRole"
                                               [readonly]="readonly"
                                               [selectedResourceRole]="selectedPersonRole"
                                               [defaultRole]="defaultRole"
                                               [isWithLinkToAdmin]="false"
                                               [preventEdition]="true"
                                               cdkTrapFocus
    ></hedera-shared-table-person-role-container>
  </solidify-panel-expandable>


  <ng-template [ngIf]="isLoggedIn">
    <hedera-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"
                                                          [resource]="model"
    >
    </hedera-shared-additional-information-panel-container>
  </ng-template>
</form>
