<solidify-carousel-container class="carousel"></solidify-carousel-container>

<div class="buttons">
  <hedera-home-main-button (click)="goToDataset()"
                           [iconName]="iconNameEnum.ingest"
                           [subtitleToTranslate]="'home.pageContent.buttons.createDataset.subtitle' | translate"
                           [titleToTranslate]="'home.pageContent.buttons.createDataset.title' | translate"
  ></hedera-home-main-button>

<!--  <hedera-home-main-button (click)="goToSearchResult()"-->
<!--                           [iconName]="iconNameEnum.archive"-->
<!--                           [subtitleToTranslate]="'home.pageContent.buttons.researchArchive.subtitle' | translate"-->
<!--                           [titleToTranslate]="'home.pageContent.buttons.researchArchive.title' | translate"-->
<!--  ></hedera-home-main-button>-->
</div>
