@import "abstracts/abstracts";

:host {
  display: block;
  background-color: $white;
  border: 1px solid $intermediate-grey;
  border-radius: 32px;
  width: 100%;

  .form {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;

    .input {
      border: none;
      background-color: transparent;
      padding-left: 20px;
      text-align: left;
      padding-top: 4px;
      color: $text-color;
      height: 35px;
    }
  }
}

@include isInDarkMode {
  :host {
    background-color: $dark-mode-background;
    color: $dark-mode-text-color;
    border-color: $light-grey;

    .form {
      .input {
        color: $dark-mode-text-color;
      }
    }
  }
}
