<div *ngIf="data | isNotNullNorUndefined"
     @overlay
     class="overlay"
>
  <div class="avatar-wrapper">
    <solidify-logo-wrapper-container [idResource]="data?.resId"
                                     [logoNamespace]="logoActionNameSpace"
                                     [logoState]="logoState"
                                     [isUser]="false"
                                     [isLogoPresent]="isLogoPresent"
                                     [imageMode]="imageDisplayModeEnum.IN_OVERLAY"
                                     class="avatar"
    ></solidify-logo-wrapper-container>
  </div>

  <div class="informations">
    <div class="name-wrapper"
         solidifyTooltipOnEllipsis
         [class.with-icon]="data.openLicenseId | isNotNullNorUndefinedNorWhiteString"
    >
      <span class="name">{{data.title}}</span>
      <solidify-icon *ngIf="(data.openLicenseId | isNotNullNorUndefinedNorWhiteString) || (spdxUrl | isNotNullNorUndefinedNorWhiteString)"
                     [iconName]="iconNameEnum.spdx"
                     [matTooltip]="data.openLicenseId"
                     (click)="navigateToExternalUrl(spdxUrl)"
                     class="size-30 icon"
      ></solidify-icon>
    </div>
    <div *ngIf="data.url | isNotNullNorUndefinedNorWhiteString"
         class="url-wrapper"
         solidifyTooltipOnEllipsis
    >
      <a [href]="data.url"
         target="_blank"
         class="url"
         solidifyTooltipOnEllipsis
      >{{data.url}}</a>
    </div>
  </div>
</div>
