<div class="toolbar-size-guard"></div>

<div [solidifyFocusFirstElement]="true"
     [style.background-image]="backgroundImage"
     cdkTrapFocus
     class="toolbar-wrapper"
>
  <div class="toolbar-content">
    <h1 class="title">{{'home.mainToolbar.title' | translate : {themeName: currentThemeName} }} </h1>
    <h2 class="subtitle">{{'home.mainToolbar.subtitle' | translate}}</h2>
    <hedera-home-search-bar (valueChange)="search($event)"
                            [labelToTranslate]="labelTranslateEnum.searchData | translate"
                            [tourAnchor]="tourEnum.mainSearchBar"
                            [value]="searchValueInUrl"
                            class="search-bar"
    ></hedera-home-search-bar>
  </div>
</div>

<div class="wrapper">
  <div class="news-wrapper">
    <div class="left-part">
      <hedera-home-main-page-content (goToDatasetOrLogin)="goToDataset()"
                                     (goToSearch)="getToSearch()"
                                     class="main-page-content"
      ></hedera-home-main-page-content>
      <hedera-home-partners [currentTheme]="themeObs | async"
                            class="partner"
      ></hedera-home-partners>
    </div>
    <ng-template [ngIf]="twitterEnabled">
      <div class="separator"></div>
      <solidify-twitter-wrapper-presentational class="twitter">
      </solidify-twitter-wrapper-presentational>
    </ng-template>
  </div>
</div>
