@import "abstracts/abstracts";
@import "solidify-frontend/lib/core/components/routables/abstract-home/abstract-home.routable";

:host {
  .toolbar-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 0 20px;
    position: sticky;
    top: 0;
    z-index: $z-index-sticky-toolbar;
    background-color: $white;
    padding: 5px;
    box-shadow: 0 0 0 $white, 0 -2px 0 $white; // avoid glitch when play with zooming on browser

    .toolbar-first-line,
    .toolbar-last-line {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 0 10px;
      align-items: center;
    }

    .toolbar-first-line {
      .project-selector {
        width: 500px;
        @include remove-padding-mat-form-field;

        @include respond-to-smaller-than-breakpoint('md') {
          width: 100%;
        }
      }
    }

    .toolbar-last-line {
      padding: 10px 0;
    }
  }

  .tabs ::ng-deep {
    .tabs-header-container {
      padding-top: 1px;
      position: sticky;
      top: 74px;
      background-color: $white;
      z-index: $z-index-sticky-tab;

      @include respond-to-smaller-than-breakpoint('md') {
        top: 110px;
      }
    }

    .tab-content {
      > * {
        padding-top: 0 !important;
      }

      solidify-button-toolbar-list {
        padding-bottom: 0 !important;
      }
    }

  }

  //
  //.tab-header ::ng-deep {
  //  position: sticky;
  //  top: 68px;
  //  background-color: $white;
  //  z-index: $z-index-sticky-tab;
  //
  //  &.is-active {
  //    color: $primary-color;
  //    cursor: initial;
  //    border-bottom: 2px solid $primary-color;
  //  }
  //
  //  .mat-badge.warn {
  //    .mat-badge-content {
  //      background-color: $red;
  //    }
  //  }
  //
  //  @include respond-to-smaller-than-breakpoint('md') {
  //    .mat-ink-bar {
  //      display: none !important;
  //    }
  //  }
  //
  //}
}


@include isInDarkMode {
  .toolbar-wrapper {
    background-color: $dark-mode-background;
    box-shadow: 0 0 0 $dark-mode-background, 0 -2px 0 $dark-mode-background; // avoid glitch when play with zooming on browser
  }

  .tabs ::ng-deep {
    .tabs-header-container {
      background-color: $dark-mode-background;
    }
  }
}
