<ng-template [ngIf]="list === true"
             [ngIfElse]="detail"
>
  <div class="toolbar-wrapper">
    <div class="toolbar-first-line">
      <ng-template [ngIf]="displayProjectInput">
        <solidify-searchable-single-select *ngIf="getFormControl(formDefinition.projectId) as fd"
                                           [canDeleteValue]="false"
                                           [formControl]="fd"
                                           [labelKey]="'name'"
                                           [placeholder]="labelTranslateEnum.project | translate"
                                           [resourceNameSpace]="datasetAuthorizedProjectNameSpace"
                                           [sort]="datasetAuthorizedProjectSort"
                                           [state]="datasetAuthorizedProjectState"
                                           [storeLastSelectionKey]="lastSelectionProjectLocalStorageKey"
                                           [valueKey]="'resId'"
                                           class="project-selector"
                                           solidifyValidation
        >
        </solidify-searchable-single-select>
      </ng-template>

      @if (projectId | isNotNullNorUndefinedNorWhiteString) {
        <button color="primary"
                mat-button
                solidifyShortCuts
                (click)="navigateToBrowse()"
                (onEnter)="navigateToBrowse()"
        >
          <solidify-icon [iconName]="iconNameEnum.browse"></solidify-icon>
          {{labelTranslateEnum.browse | translate}}
        </button>

        <button *ngIf="securityService.isManagerOfProject(projectId)"
                color="primary"
                mat-button
                solidifyShortCuts
                (click)="navigateToAdmin()"
                (onEnter)="navigateToAdmin()"
        >
          <solidify-icon [iconName]="iconNameEnum.administration"></solidify-icon>
          {{labelTranslateEnum.manage | translate}}
        </button>
      }

      <button *ngIf="(canCreateObs | async) && tabs.currentTab?.id === SOURCE_DATASET_TAB_ID"
              [solidifyAutoFocus]="true"
              color="primary"
              mat-flat-button
              solidifyShortCuts
              (click)="create()"
              (onEnter)="create()"
      >
        <solidify-icon [iconName]="iconNameEnum.create"></solidify-icon>
        {{KEY_CREATE_BUTTON | translate}}
      </button>
    </div>

    <div class="toolbar-last-line">
      <button [solidifyAutoFocus]="true"
              color="primary"
              mat-button
              solidifyShortCuts
              (click)="refreshIiif()"
              (onEnter)="refreshIiif()"
      >
        <solidify-icon [iconName]="iconNameEnum.refresh"></solidify-icon>
        {{labelTranslateEnum.refreshIiif | translate}}
      </button>

      <button *ngIf="securityService.isRootOrAdmin()"
              [solidifyAutoFocus]="true"
              color="primary"
              mat-button
              solidifyShortCuts
              (click)="refresh()"
              (onEnter)="refresh()"
      >
        <solidify-icon [iconName]="iconNameEnum.refresh"></solidify-icon>
        {{labelTranslateEnum.updateStatistics | translate}}
      </button>

      <button [solidifyAutoFocus]="true"
              color="primary"
              mat-button
              solidifyShortCuts
              (click)="purgeRdf()"
              (onEnter)="purgeRdf()"
      >
        <solidify-icon [iconName]="iconNameEnum.deleteAll"></solidify-icon>
        {{labelTranslateEnum.purgeRdf | translate}}
      </button>

      <button *ngIf="tabs.currentTab?.id === RESEARCH_DATA_FILE_TAB_ID"
              [solidifyAutoFocus]="true"
              color="primary"
              mat-button
              solidifyShortCuts
              (click)="reload()"
              (onEnter)="reload()"
      >
        <solidify-icon [iconName]="iconNameEnum.reload"></solidify-icon>
        {{labelTranslateEnum.reloadResearchDataFiles | translate}}
      </button>
    </div>
  </div>

  <solidify-empty-container [solidifyFocusFirstElement]="true"
                            cdkTrapFocus
  >
    <solidify-tabs-container #tabs
                             [tabs]="datasetTabs"
                             (tabChange)="setCurrentTab($event)"
                             class="tabs"
    >

    </solidify-tabs-container>
    <router-outlet></router-outlet>
  </solidify-empty-container>
</ng-template>
<ng-template #detail>
  <router-outlet></router-outlet>
</ng-template>
