<div class="buttons">
  <button (click)="run()"
          (onEnter)="run()"
          mat-button
          solidifyShortCuts
          color="primary"
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.run"></solidify-icon>
    {{labelTranslateEnum.run | translate}}
  </button>
  <button (click)="clear()"
          (onEnter)="clear()"
          [matTooltip]="labelTranslateEnum.clear | translate"
          mat-icon-button
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.clean"></solidify-icon>
  </button>
  <button (click)="reset()"
          (onEnter)="reset()"
          [matTooltip]="labelTranslateEnum.reset | translate"
          mat-icon-button
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.reset"></solidify-icon>
  </button>
  <button (click)="copyQueryToClipboard()"
          (onEnter)="copyQueryToClipboard()"
          [matTooltip]="labelTranslateEnum.copyQuery | translate"
          mat-icon-button
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.copyToClipboard"></solidify-icon>
  </button>
</div>

<div [id]="YASGUI_ID"></div>