<div *ngIf="data | isNotNullNorUndefined"
     @overlay
     class="overlay"
>
  <div class="icon-wrapper">
    <solidify-icon [iconName]="iconNameEnum.researchObjects"
                   class="size-80"
    ></solidify-icon>
  </div>

  <div class="informations">
    <div class="name"
         solidifyTooltipOnEllipsis
    >{{data.name}}
    </div>
    <div class="description">{{data.description}}</div>
    <div class="rdf-type">{{labelTranslateEnum.rdfTypeLabel | translate}}: {{data.rdfType}}</div>
    @if (data.ontology | isNotNullNorUndefined) {
      <div class="ontology">{{labelTranslateEnum.ontologie | translate}}:
        @if (data.ontology.url | isNotNullNorUndefinedNorWhiteString) {
        <a [href]="data.ontology.url"
           target="_blank"
           class="url"
        >{{data.ontology.name}} ({{data.ontology.version}})</a>
        } @else {
          {{data.ontology.name}} ({{data.ontology.version}})
        }
      </div>
    }
    <!--    <div *ngIf="data.url | isNotNullNorUndefinedNorWhiteString"-->
    <!--         class="url-wrapper"-->
    <!--         solidifyTooltipOnEllipsis-->
    <!--    >-->
    <!--      <a [href]="data.url"-->
    <!--         target="_blank"-->
    <!--         class="url"-->
    <!--      >{{data.url}}</a>-->
    <!--    </div>-->
  </div>
</div>
