@import "../shared-resource-overlay/shared-resource-overlay.presentational";

:host {
  .informations {
    .rdf-type {
      font-size: 12px;
    }

    .ontology {
      font-size: 12px;
    }
  }
}