@import "abstracts/abstracts";
@import "solidify-frontend/lib/core/components/routables/abstract-home/abstract-home.routable";

:host {
  .toolbar-wrapper-with-role {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;

    .role {
      padding-top: 5px;
      padding-left: 5px;

      ::ng-deep {
        .icon {
          display: grid;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .tabs {
    ::ng-deep {
      .tabs-header-container {
        position: sticky;
        background-color: $white;
        top: 0;
        z-index: $z-index-sticky-tab;
      }

      .tab-content {
        padding-top: 20px;

        > * {
          padding-top: 0 !important;
        }

        solidify-button-toolbar-list {
          padding-bottom: 0 !important;
        }
      }
    }
  }
}

@include isInDarkMode {
  .tabs {
    ::ng-deep {
      .tabs-header-container {
        background-color: $dark-mode-background;
      }
    }
  }
}
