<div class="toolbar-wrapper-with-role">
  <solidify-button-toolbar-detail [backToListNavigate]="backToProjectListNavigate()"
                                  [currentModel]="projectObs | async"
                                  [mode]="'detail'"
                                  [deleteAvailable]="false"
                                  [editAvailable]="false"
                                  [saveAvailable]="false"
                                  [solidifyFocusFirstElement]="true"
                                  [listExtraButtons]="listExtraButtons"
  >
  </solidify-button-toolbar-detail>
  <hedera-shared-resource-role-member-container *ngIf="(projectObs | async) as project"
                                                [resource]="project"
                                                [mode]="sharedResourceRoleMemberContainerMode.project"
                                                class="role"
  ></hedera-shared-resource-role-member-container>
</div>

<solidify-tabs-container *ngIf="resId | isNotNullNorUndefinedNorWhiteString"
                         [isLoading]="isLoadingObs | async"
                         [tabs]="browseTabs"
                         (tabChange)="setCurrentTab($event)"
                         class="tabs"
>
  <router-outlet></router-outlet>
</solidify-tabs-container>
