<div class="header">
  <div class="left-part">
<!--    <button (click)="selectAndResumeAll()"-->
<!--            *ngIf="(listDataFileObs | async)?.length > 0 && isInErrorStatusFilter"-->
<!--            class="button-select-and-resume"-->
<!--            color="primary"-->
<!--            mat-button-->
<!--            type="button"-->
<!--    >-->
<!--      <solidify-icon [iconName]="iconNameEnum.resumeAll"></solidify-icon>-->
<!--      {{'ingest.file.button.selectAndResumeAll' | translate}}-->
<!--    </button>-->

    <button (click)="selectAndDelete()"
            *ngIf="(canEditObs | async) === editModeEnum.full && (listDataFileObs | async)?.length > 0"
            class="button-select-and-delete"
            color="primary"
            mat-button
            type="button"
    >
      <solidify-icon [iconName]="iconNameEnum.deleteAll"></solidify-icon>
      {{'ingest.file.button.selectAndDeleteAll' | translate}}
    </button>

    <ng-template [ngIf]="dataTablePresentational?.multiSelectionValueOnAllPages.length > 0">
      <ng-container *ngFor="let bulkAction of bulkActions">
        <button (click)="dataTablePresentational?.callBulkAction(bulkAction)"
                (onEnter)="dataTablePresentational?.callBulkAction(bulkAction)"
                *ngIf="bulkAction.displayCondition(dataTablePresentational?.multiSelectionValueOnAllPages) | solidifyAsync"
                [disabled]="isLoadingDataFileObs | async"
                color="primary"
                mat-button
                solidifyShortCuts
                type="button"
        >
          <solidify-icon [iconName]="bulkAction.icon"></solidify-icon>
          {{bulkAction.labelToTranslate() | solidifyAsync | translate}}
        </button>
      </ng-container>
    </ng-template>
  </div>
  <div class="right-part">
  </div>
</div>

<div [solidifyFocusFirstElement]="true"
     class="file-viewer">

  <solidify-data-table #dataTablePresentational
                       (queryParametersChange)="onQueryParametersEvent($event)"
                       (queryParametersWithoutRefreshChange)="onQueryParametersEvent($event, false)"
                       [detailRouteToInterpolate]="detailRouteToInterpolate"
                       [displayActionShowHistory]="true"
                       [displayActionCopyIdToClipboard]="true"
                       [actions]="actions"
                       [bulkActions]="bulkActions"
                       [columnsSkippedToClear]="$any(columnsToSkippedFilter)"
                       [columns]="columns"
                       [data]="listDataFileObs | async"
                       [draggablePreviewColumn]="'fileName'"
                       [draggablePreviewMatIcon]="'insert_drive_file'"
                       [isDraggable]="false"
                       [isLoading]="isLoadingDataFileObs | async"
                       [displaySpinnerWhenLoading]="true"
                       [isMultiSelectable]="(bulkActions | isNonEmptyArray) && (canEditObs | async) === editModeEnum.full"
                       [preloadRowsForPage]="true"
                       [queryParameters]="queryParametersObs | async"
                       [skipInitialQuery]="false"
                       [stickyTopPosition]="40"
                       (dragStartChange)="dragStart($event)"
                       (dragEndChange)="dragEnd($event)"
                       (showHistoryChange)="showHistory($event)"
  >
  </solidify-data-table>

  <ng-template #noFile>
    <label>{{labelTranslateEnum.currentlyNoSourceDataFile | translate}}</label>
  </ng-template>
</div>
