<solidify-empty-container (onEscape)="backToList()"
                          solidifyShortCuts
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [formPresentational]="formPresentational"
                                  [mode]="'create'"
  >
  </solidify-button-toolbar-detail>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       [solidifyFocusFirstElement]="true"
       class="wrapper"
  >
    <hedera-admin-user-form #formPresentational
                          *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                          (checkAvailableChange)="checkAvailable($event)"
                          (dirtyChange)="updateCanDeactivate($event)"
                          (submitChange)="create($event)"
    ></hedera-admin-user-form>
  </div>
</solidify-empty-container>
