<hedera-ingest-research-data-file-upload-container *ngIf="(canEditObs | async) !== editModeEnum.none"
                                                   [editMode]="(canEditObs | async)"
></hedera-ingest-research-data-file-upload-container>

<hedera-ingest-research-data-file-list-container [deleteAvailable]="true">
</hedera-ingest-research-data-file-list-container>
