<solidify-empty-container (keydown.escape)="back()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <div class="button-toolbar">
    <button (click)="back()"
            (onEnter)="back()"
            color="primary"
            mat-button
            solidifyShortCuts
    >
      <solidify-icon [iconName]="iconNameEnum.back"></solidify-icon>
      <ng-template [ngIf]="module === researchElementModuleEnum.home">
        {{labelTranslateEnum.backToSearch | translate}}
      </ng-template>
      <ng-template [ngIf]="module === researchElementModuleEnum.browse">
        {{labelTranslateEnum.back | translate}}
      </ng-template>
    </button>

    <div class="small-buttons-wrapper">
      <solidify-button-id *ngIf="(currentObs | async) as archive"
                          [resource]="archive"
      ></solidify-button-id>
    </div>
  </div>

  <div [solidifySpinner]="(isLoadingObs | async)"
       class="wrapper"
  >
    <hedera-shared-research-element-form *ngIf="(currentObs | async) | isNotNullNorUndefined"
                                         [currentResearchElement]="currentObs | async"
                                         [isLoggedIn]="isLoggedInObs | async"
                                         [relativeResearchObject]="listResearchObjectFromProjectObs | async"
                                         [rdf]="rdfAsObs | async"
                                         [module]="module"
                                         [isLoadingRdf]="isLoadingRdfAsObs | async"
                                         [associatedResearchElement]="associatedResearchElementObs | async"
                                         [associatedResearchDataFile]="associatedResearchDataFileObs | async"
                                         [associatedResearchObject]="associatedResearchObjectObs | async"
                                         (navigateChange)="navigate($event)"
                                         (showDetailChange)="showDetail($event)"
                                         (rdfFormatChange)="rdfFormatChange($event)"
                                         (rdfNavigationChange)="rdfNavigation($event)"
    ></hedera-shared-research-element-form>
  </div>
</solidify-empty-container>
