<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>
  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [rightTemplate]="rightTemplate"
                                [iconName]="iconNameEnum.researchObjects"
  ></solidify-detail-presentation>
  <ng-template #centerTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.nameLabel | translate}}</mat-label>
      <input (blur)="checkAvailable(formDefinition.name, fd)"
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.description) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.description | translate}}</mat-label>
      <textarea [formControl]="fd"
                [required]="formValidationHelper.hasRequiredField(fd)"
                [solidifyValidation]="errors"
                cdkAutosizeMaxRows="10"
                cdkAutosizeMinRows="3"
                cdkTextareaAutosize
                matInput
      >
      </textarea>
      <mat-error #errors
                solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <hedera-shared-sparql-code-editor *ngIf="getFormControl(formDefinition.iiifCollectionSparqlQuery) as fd"
                                      [formControl]="fd"
                                      [title]="labelTranslateEnum.sparqlQuery | translate"
                                      [required]="formValidationHelper.hasRequiredField(fd)"
                                      solidifyValidation
    ></hedera-shared-sparql-code-editor>

  </ng-template>

  <ng-template #rightTemplate>
    <solidify-searchable-single-select (navigate)="navigateToProject($event)"
                                       *ngIf="getFormControl(formDefinition.project) as fd"
                                       [formControl]="fd"
                                       [isWithLink]="true"
                                       [labelKey]="'name'"
                                       [placeholder]="labelTranslateEnum.projects | translate"
                                       [required]="formValidationHelper.hasRequiredField(fd)"
                                       [resourceNameSpace]="sharedProjectActionNameSpace"
                                       [sort]="sharedProjectSort"
                                       [state]="sharedProjectState"
                                       [tooltipNavigateToTranslate]="labelTranslateEnum.seeProjectDetail | translate"
                                       [valueKey]="'resId'"
                                       [overlayComponent]="$any(projectOverlayComponent)"
                                       aria-label="projects"
                                       solidifyValidation
    >
    </solidify-searchable-single-select>

  </ng-template>
</form>
