<solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                [formPresentational]="formPresentational"
                                [listExtraButtons]="listExtraButtons"
                                [mode]="'create'"
                                [saveAvailable]="false"
                                class="button-toolbar-detail"
>
</solidify-button-toolbar-detail>

<div [solidifySpinner]="isLoadingWithDependencyObs | async"
     class="wrapper"
>
  <hedera-ingest-source-dataset-form #formPresentational
                                     *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                                     [projectId]="projectIdObs | async"
                                     [readonly]="false"
                                     (dirtyChange)="updateCanDeactivate($event)"
                                     (navigate)="navigate($event)"
                                     (submitChange)="create($event)"
  ></hedera-ingest-source-dataset-form>
</div>
