@import "abstracts/abstracts";

:host {
  .avatar-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

    .avatar {
      background-color: $accent-main-color;
    }

    .icon {
      margin: 0 5px;
    }
  }
}
